In [273]:
import numpy as np
import pandas as pd
import glob
import re
from datetime import datetime
from sklearn.preprocessing import LabelEncoder

In [274]:
def is_top_model(x, models):
    if models.count(x)==0:
        x = "other"
    return x

## TEST DATA

In [275]:
# kaggle only:

'''
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

df_test = pd.read_csv('../input/sf-dst-car-price-prediction/test.csv')
df_train = pd.read_csv('../input/parsed-auto/train.csv')
df_sub = pd.read_csv('../input/sf-dst-car-price-prediction/sample_submission.csv')

'''


#local:
#path = "/"

# remote:
from google.colab import drive
drive.mount('/content/drive')
path = "/content/drive/My Drive/module_6/"


df_test = pd.read_csv(path + 'test.csv')
df_sub = pd.read_csv(path + 'sample_submission.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## COLLECT TRAIN DATA:

In [276]:
# collect data from files in CONTENT folder:
filenames = glob.glob(path + "CONTENT/*content.csv")
lst_df_train = []
for filename in filenames:
    df_cur = pd.read_csv(filename, header=None)
    lst_df_train.append(df_cur)
df_train =  pd.concat(lst_df_train, axis=0, ignore_index=True)    

# get rid of duplicates and small check:   
df_train.drop_duplicates(inplace=True)
df_train.shape

(35265, 23)

## SAVE DF_TRAIN

In [277]:
# save to file:
df_train.to_csv(path + "train.csv", index=False)

In [278]:
df_train.sample(3)

         0   ...           22
754   SKODA  ...  1 849 000 ₽
5338   AUDI  ...  1 210 000 ₽
6780  HONDA  ...  2 495 000 ₽

[3 rows x 23 columns]

In [279]:
df_test.head()

  bodyType  brand  ...           Состояние     Таможня
0  лифтбек  SKODA  ...  Не требует ремонта  Растаможен
1  лифтбек  SKODA  ...  Не требует ремонта  Растаможен
2  лифтбек  SKODA  ...  Не требует ремонта  Растаможен
3  лифтбек  SKODA  ...  Не требует ремонта  Растаможен
4  лифтбек  SKODA  ...  Не требует ремонта  Растаможен

[5 rows x 32 columns]

In [280]:
df_sub.head()

      sell_id  price
0  1100575026      0
1  1100549428      0
2  1100658222      0
3  1100937408      0
4  1101037972      0

## COLUMNS:

- compare columns in train and test datasets, rename where necessary and drop from train if needed
- mark test and train data
- join datasets

In [281]:
# take a look at test columns:
test_columns = df_test.columns
test_columns

Index(['bodyType', 'brand', 'car_url', 'color', 'complectation_dict',
       'description', 'engineDisplacement', 'enginePower', 'equipment_dict',
       'fuelType', 'image', 'mileage', 'modelDate', 'model_info', 'model_name',
       'name', 'numberOfDoors', 'parsing_unixtime', 'priceCurrency',
       'productionDate', 'sell_id', 'super_gen', 'vehicleConfiguration',
       'vehicleTransmission', 'vendor', 'Владельцы', 'Владение', 'ПТС',
       'Привод', 'Руль', 'Состояние', 'Таможня'],
      dtype='object')

In [282]:
# take a look at train columns:
train_columns = df_train.columns
train_columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22],
           dtype='int64')

In [283]:
# ooops... take another look at data to figure out how to name them:
df_train.head().T

                                                    0  ...                                                  4
0                                               SKODA  ...                                              SKODA
1                                      Skoda Fabia II  ...                          Skoda Fabia II Рестайлинг
2                                     универсал 5 дв.  ...                                      хэтчбек 5 дв.
3                                                   5  ...                                                  5
4                                                2007  ...                                               2010
5                                                2009  ...                                               2011
6                                              чёрный  ...                                             чёрный
7                                             1.4 LTR  ...                                            1.2 LTR
8                                              86 N12  ...                                             70 N12
9                                              бензин  ...                                             бензин
10  https://avatars.mds.yandex.net/get-autoru-vos/...  ...  https://avatars.mds.yandex.net/get-autoru-vos/...
11                                         182 200 км  ...                                         190 000 км
12                                             1.4 MT  ...                                             1.2 MT
13                       WAGON_5_DOORS MECHANICAL 1.4  ...                   HATCHBACK_5_DOORS MECHANICAL 1.2
14                                       механическая  ...                                       механическая
15                                        2 владельца  ...                                        2 владельца
16                                           Оригинал  ...                                           Оригинал
17                                           передний  ...                                           передний
18                                              Левый  ...                                              Левый
19                                 Не требует ремонта  ...                                 Не требует ремонта
20                                         Растаможен  ...                                         Растаможен
21  https://auto.ru/cars/used/sale/skoda/fabia/110...  ...  https://auto.ru/cars/used/sale/skoda/fabia/110...
22                                          370 000 ₽  ...                                          290 000 ₽

[23 rows x 5 columns]

In [284]:
# rename train columns:
train_columns = train_columns.map({0 : 'brand', 
                                   1 : 'model_name', 
                                   2 : 'bodyType',
                                   3 : 'numberOfDoors',
                                   4 : 'modelDate',
                                   5 : 'productionDate',
                                   6 : 'color',
                                   7 : 'engineDisplacement',
                                   8 : 'enginePower',
                                   9 : 'fuelType',
                                   10 : 'image',
                                   11 : 'mileage',
                                   12 : 'name',
                                   13 : 'vehicleConfiguration',
                                   14 : 'vehicleTransmission',
                                   15 : 'Владельцы',
                                   16 : 'ПТС',
                                   17 : 'Привод',
                                   18 : 'Руль',
                                   19 : 'Состояние',
                                   20 : 'Таможня', 
                                   21 : 'car_url',
                                   22 : 'price'})
df_train.columns = train_columns

In [285]:
# take a look if all good now:
df_train.sample().T

                                                                  17292
brand                                                            NISSAN
model_name                                 Nissan Qashqai II Рестайлинг
bodyType                                              внедорожник 5 дв.
numberOfDoors                                                         5
modelDate                                                          2017
productionDate                                                     2020
color                                                             серый
engineDisplacement                                              2.0 LTR
enginePower                                                     144 N12
fuelType                                                         бензин
image                 https://autoru.naydex.net/9ODTi2i70/5f8c800E/3...
mileage                                                       20 000 км
name                                                             2.0 MT
vehicleConfiguration                     ALLROAD_5_DOORS MECHANICAL 2.0
vehicleTransmission                                        механическая
Владельцы                                                    1 владелец
ПТС                                                            Оригинал
Привод                                                         передний
Руль                                                              Левый
Состояние                                            Не требует ремонта
Таможня                                                      Растаможен
car_url               https://auto.ru/cars/used/sale/nissan/qashqai/...
price                                                       1 707 000 ₽

In [286]:
# find columns in test not being presented in train:
cols_to_drop_from_test = list(set(test_columns) - set(train_columns))
cols_to_drop_from_test

['priceCurrency',
 'equipment_dict',
 'model_info',
 'super_gen',
 'description',
 'Владение',
 'vendor',
 'sell_id',
 'parsing_unixtime',
 'complectation_dict']

In [287]:
# hmmmm ))) interesting, how old test dataset is:
datetime.fromtimestamp(df_test["parsing_unixtime"].min()).strftime('%Y-%b-%d'),\
datetime.fromtimestamp(df_test["parsing_unixtime"].max()).strftime('%Y-%b-%d')

('2020-Oct-19', '2020-Oct-26')

Данным ровно год. Цены выросли. По данным статистики, на автомобили - на 15% Возможно, следует промасштабировать цену...

In [288]:
# priceCurrency - hopefulyy, the same everywhere:
df_test.priceCurrency.value_counts()

RUB    34686
Name: priceCurrency, dtype: int64

OK, as in train dataset all prices are in RUB

In [289]:
# check if we've got new columns during parsing:
new_columns = list(set(train_columns) - set(test_columns))
new_columns

['price']

that's ok, we are not supposed to know the price in test dataset

In [290]:
# compare main values in test and train to make sure we have good data:
df_test.brand.value_counts(), "==================", df_train.brand.value_counts()

(BMW           4473
 VOLKSWAGEN    4404
 NISSAN        4393
 MERCEDES      4180
 TOYOTA        3913
 AUDI          3421
 MITSUBISHI    2843
 SKODA         2741
 VOLVO         1463
 HONDA         1150
 INFINITI       871
 LEXUS          834
 Name: brand, dtype: int64, '==================', AUDI          3383
 SKODA         3383
 HONDA         3377
 BMW           3162
 NISSAN        3160
 MERCEDES      3083
 MITSUBISHI    3065
 TOYOTA        2992
 VOLKSWAGEN    2980
 LEXUS         2926
 VOLVO         2411
 INFINITI      1343
 Name: brand, dtype: int64)

There are only 12 brands represented in test dataset , for now therefore no need to process others

In [291]:
# join datasets marking them for future split:
df_test['price'] = 0
df_test['test_train'] = "test"
df_train['test_train'] = "train"
data = df_train.append(df_test, sort=False).reset_index(drop=True) # объединяем
data.shape

(69951, 34)

In [292]:
# remove columns we dot't have in train:
data.drop(cols_to_drop_from_test, axis=1, inplace=True)
data.shape

(69951, 24)

In [293]:
# rename columns to make their names more commfortable to use:
col_replacement = {'bodyType' : 'body_type', 
                   'numberOfDoors': 'doors',
                  'modelDate':'model_date',
                  'productionDate': 'prod_date',
                  'engineDisplacement':'engine_V',
                  'enginePower' : 'power',
                  'fuelType': 'fuel',
                  'vehicleConfiguration' : 'config',
                  'vehicleTransmission' : 'transmission',
                  'Владельцы' : 'owners',
                   'ПТС' : 'pass',
                   'Привод' : 'drive',
                   'Руль' : 'wheel',
                   'Состояние' : 'state',
                   'Таможня' : 'custom'
                  }
data.rename(columns=col_replacement, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69951 entries, 0 to 69950
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         69951 non-null  object
 1   model_name    69951 non-null  object
 2   body_type     69951 non-null  object
 3   doors         69951 non-null  int64
 4   model_date    69951 non-null  int64
 5   prod_date     69951 non-null  int64
 6   color         69951 non-null  object
 7   engine_V      69951 non-null  object
 8   power         69951 non-null  object
 9   fuel          69951 non-null  object
 10  image         69951 non-null  object
 11  mileage       69951 non-null  object
 12  name          69951 non-null  object
 13  config        69951 non-null  object
 14  transmission  69951 non-null  object
 15  owners        69951 non-null  object
 16  pass          69950 non-null  object
 17  drive         69951 non-null  object
 18  wheel         69951 non-null  object
 19  state         69951 non-null  object
 20  custom        69951 non-null  object
 21  car_url       69951 non-null  object
 22  price         69951 non-null  object
 23  test_train    69951 non-null  object
dtypes: int64(3), object(21)
memory usage: 12.8+ MB

## VALUE CLEANUP

- process columns manually one by one
- split column names into 3 lists: categorian, numeric and binary
- add new columns
- drop some columns

In [294]:
# lists to sort out columns for future processing:
cat_columns = []
num_columns = []
bin_columns = []

In [295]:
# when necesssary turn this on:
# pd.set_option('display.max_rows', None)

### 0. brand

In [296]:
# how many cars of each brand do we have:
data.brand.value_counts()

BMW           7635
NISSAN        7553
VOLKSWAGEN    7384
MERCEDES      7263
TOYOTA        6905
AUDI          6804
SKODA         6124
MITSUBISHI    5908
HONDA         4527
VOLVO         3874
LEXUS         3760
INFINITI      2214
Name: brand, dtype: int64

In [297]:
cat_columns.append("brand")

### 1. model_name

In [298]:
data.model_name.value_counts()

OCTAVIA                                    1418
5ER                                        1026
LANCER                                      855
E_KLASSE                                    809
PASSAT                                      782
                                           ...
Mercedes-Benz S-Класс 600 Long V (W221)       1
Mercedes-Benz C-Класс 300 IV (W205)           1
Mercedes-Benz Vito 109 CDI L1 II (W639)       1
BMW Z4 35i II (E89)                           1
100_SERIES                                    1
Name: model_name, Length: 2861, dtype: int64

In [299]:
models_to_numbers = dict(data.model_name.value_counts())
models_to_numbers

{'OCTAVIA': 1418,
 '5ER': 1026,
 'LANCER': 855,
 'E_KLASSE': 809,
 'PASSAT': 782,
 'A6': 757,
 '3ER': 752,
 'POLO': 724,
 'CAMRY': 709,
 'X5': 675,
 'X_TRAIL': 654,
 'A4': 626,
 'QASHQAI': 609,
 'S_KLASSE': 549,
 'OUTLANDER': 544,
 'LAND_CRUISER': 514,
 'ALMERA': 502,
 'TIGUAN': 491,
 'Volkswagen Polo V Рестайлинг': 473,
 'TOUAREG': 469,
 'COROLLA': 456,
 'RAV_4': 447,
 'C_KLASSE': 428,
 'GOLF': 424,
 'Skoda Octavia II (A5) Рестайлинг': 400,
 'LAND_CRUISER_PRADO': 387,
 'TEANA': 374,
 'RAPID': 370,
 'Skoda Octavia III (A7) Рестайлинг': 361,
 'Skoda Octavia III (A7)': 356,
 'M_KLASSE': 343,
 '7ER': 343,
 'XC90': 340,
 'JETTA': 324,
 'X6': 317,
 'CIVIC': 316,
 'Volkswagen Tiguan I Рестайлинг': 311,
 'PAJERO': 306,
 'Nissan Qashqai II': 305,
 'Q7': 302,
 'FX': 297,
 'X3': 283,
 'Volvo XC90 I Рестайлинг': 277,
 'Nissan X-Trail III': 272,
 'JUKE': 268,
 'Volkswagen Tiguan II': 267,
 'Skoda Rapid I Рестайлинг': 262,
 'ACCORD': 260,
 'SUPERB': 248,
 'Mitsubishi Outlander III Рестайлинг 2': 247,
 'S60': 246,
 'Q5': 246,
 'FABIA': 245,
 'Volkswagen Polo V': 244,
 'Skoda Fabia II Рестайлинг': 244,
 'Skoda Rapid I': 244,
 'Mitsubishi Outlander III': 242,
 'YETI': 241,
 'MURANO': 239,
 'CR_V': 235,
 'RX': 235,
 'GL_KLASSE': 233,
 'A3': 225,
 'Honda Civic VIII': 221,
 'Skoda Kodiaq I': 219,
 '1ER': 218,
 'PRIMERA': 217,
 'X1': 215,
 'A5': 211,
 'A8': 204,
 'Nissan X-Trail II Рестайлинг': 201,
 'XC60': 195,
 'Nissan Qashqai I Рестайлинг': 194,
 'Nissan Juke I': 190,
 'Mitsubishi Lancer IX Рестайлинг': 186,
 'PAJERO_SPORT': 186,
 '80': 185,
 'TRANSPORTER': 182,
 'ALMERA_CLASSIC': 176,
 'S80': 176,
 'Toyota RAV4 IV (CA40) Рестайлинг': 172,
 'Nissan Terrano III (D10)': 171,
 'Skoda Octavia I (A4) Рестайлинг': 170,
 'Audi Q7 II (4M)': 169,
 'Toyota Camry VIII (XV70)': 167,
 'GALANT': 167,
 'PATHFINDER': 167,
 'Lexus LX 570 III Рестайлинг 2': 163,
 'MULTIVAN': 161,
 'TIIDA': 161,
 'Skoda Rapid II': 160,
 'Audi Q5 I (8R) Рестайлинг': 155,
 'LX': 154,
 'PASSAT_CC': 152,
 'CARAVELLE': 151,
 'Skoda Yeti I': 151,
 'Q3': 147,
 'Infiniti QX70': 147,
 'Mercedes-Benz E-Класс 200 V (W213, S213, C238)': 145,
 'Toyota Land Cruiser 200 Series Рестайлинг 2': 145,
 'Audi A6 IV (C7) Рестайлинг': 140,
 'Toyota RAV4 IV (CA40)': 140,
 'ASX': 139,
 'AVENSIS': 139,
 'Nissan Almera III (G15)': 137,
 'Mitsubishi Lancer X': 136,
 'Mitsubishi Lancer IX': 136,
 'Volvo XC70 II': 135,
 'Honda CR-V IV': 135,
 'NOTE': 134,
 'Mitsubishi Outlander III Рестайлинг 3': 132,
 'Volvo XC60 I Рестайлинг': 132,
 'CARISMA': 130,
 'Volvo S60 II': 129,
 'Audi A4 V (B9)': 129,
 'G_KLASSE': 128,
 'Lexus RX 350 II Рестайлинг': 126,
 'Audi Q5 I (8R)': 125,
 'Honda CR-V III': 124,
 'Volvo XC60 I': 123,
 'Volvo XC90 II': 123,
 'TERRANO': 122,
 '6ER': 122,
 'Audi Q3 I (8U)': 122,
 'Audi A6 IV (C7)': 122,
 'S40': 121,
 'Skoda Yeti I Рестайлинг': 121,
 'Audi Q5 II (FY)': 120,
 'Audi Q7 I (4L) Рестайлинг': 118,
 'Mitsubishi Pajero IV Рестайлинг 1': 117,
 'PATROL': 115,
 'Volkswagen Polo VI': 113,
 'Volvo XC90 I': 111,
 'Toyota Camry VII (XV50)': 109,
 '100': 109,
 'CADDY': 108,
 'Lexus LX 570 III': 108,
 'Toyota Land Cruiser Prado 150 Series Рестайлинг 1': 108,
 'Mitsubishi Pajero Sport III': 106,
 'GLK_KLASSE': 105,
 'Lexus NX 200 I': 105,
 'HIGHLANDER': 104,
 'Lexus LX 570 III Рестайлинг': 104,
 'Mitsubishi ASX I Рестайлинг': 102,
 'KODIAQ': 102,
 'Mitsubishi Outlander II Рестайлинг': 100,
 'MAXIMA': 99,
 'G35': 99,
 'Volkswagen Touareg II': 99,
 'Honda CR-V III Рестайлинг': 99,
 'CLS_KLASSE': 97,
 'Nissan Qashqai I': 97,
 'XC70': 97,
 'Lexus RX 350 III': 97,
 'X4': 96,
 'Lexus LX 450d III Рестайлинг 2': 95,
 'Mitsubishi Outlander II': 95,
 'Audi A6 III (C6)': 94,
 'Audi A3 III (8V)': 94,
 'Volvo S60 I Рестайлинг': 93,
 'Audi 80 IV (B3)': 92,
 'Toyota RAV4 III (XA30) Рестайлинг': 91,
 'L200': 90,
 'Skoda Superb III': 90,
 'GS': 90,
 'Volkswagen Jetta VI Рестайлинг': 90,
 'Nissan X-Trail II': 90,
 'GLE_KLASSE': 89,
 'Lexus RX 200t IV': 89,
 'Honda Accord VIII': 87,
 'Mitsubishi ASX I': 87,
 'Toyota Land Cruiser Prado 150 Series': 86,
 'Toyota Camry VII (XV50) Рестайлинг': 86,
 'Audi A4 IV (B8) Рестайлинг': 86,
 'Nissan Almera Classic I': 86,
 'ALLROAD': 85,
 'Toyota Land Cruiser 200 Series Рестайлинг 1': 85,
 'Nissan Qashqai II Рестайлинг': 84,
 'GLC_KLASSE': 84,
 'QX56': 83,
 'Lexus RX 350 III Рестайлинг': 82,
 'Volvo XC60 II': 82,
 'Lexus RX 270 III Рестайлинг': 81,
 'A_KLASSE': 80,
 'QX70': 80,
 'A7': 80,
 'Skoda Fabia II': 79,
 'Nissan Tiida I Рестайлинг': 79,
 'Volkswagen Touareg II Рестайлинг': 79,
 'Lexus NX 200 I Рестайлинг': 78,
 'X6_M': 78,
 'Infiniti QX56 II': 78,
 'Audi A4 IV (B8)': 78,
 'Audi A6 II (C5)': 77,
 'Mitsubishi Pajero IV': 77,
 'Volvo S40 II Рестайлинг': 77,
 'Lexus RX 350 IV': 77,
 'NX': 76,
 'Volkswagen Passat B6': 76,
 'CLA_KLASSE': 75,
 'ES': 75,
 'AURIS': 75,
 'GLS_KLASSE': 75,
 'M': 74,
 'Honda CR-V I': 74,
 'Toyota Land Cruiser Prado 150 Series Рестайлинг 2': 74,
 'V_KLASSE': 74,
 'Lexus RX 300 IV': 74,
 'Audi Q7 I (4L)': 73,
 'Skoda Superb II': 73,
 'LS': 73,
 'Nissan X-Trail III Рестайлинг': 73,
 'BMW X6 30d II (F16)': 72,
 'VIANO': 72,
 'Mitsubishi Carisma I Рестайлинг': 72,
 'Honda Accord VII Рестайлинг': 72,
 'TOURAN': 71,
 'BMW X5 30d IV (G05)': 71,
 'Audi 100 IV (C4)': 70,
 'Mercedes-Benz GLS 350 d I (X166)': 70,
 'Honda Freed I': 69,
 'Volkswagen Jetta VI': 69,
 'Mitsubishi Pajero Sport II': 69,
 'Volkswagen Tiguan I': 69,
 'Volkswagen Passat B8': 69,
 'G_KLASSE_AMG': 69,
 'Honda HR-V I': 69,
 'Volvo S80 II Рестайлинг': 68,
 'Volkswagen Passat B7': 68,
 'Lexus RX 300 I': 68,
 'GLA_CLASS': 67,
 'Audi Q3 I (8U) Рестайлинг': 67,
 'Volvo 850': 66,
 'S_KLASSE_AMG': 66,
 'Mitsubishi Lancer X Рестайлинг': 66,
 '4': 66,
 'Volvo S80 II': 65,
 'Mitsubishi Outlander I': 65,
 'Lexus ES 250 VI': 64,
 'VITO': 64,
 'MARK_II': 64,
 'B_KLASSE': 64,
 'GOLF_PLUS': 63,
 'Honda Shuttle II': 63,
 'Honda Fit III': 63,
 'Audi A7 I (4G)': 63,
 'Audi A4 III (B7)': 62,
 'Lexus RX 300 IV Рестайлинг': 62,
 'Lexus NX 200t I': 62,
 'Mercedes-Benz E-Класс 200 IV (W212, S212, C207) Рестайлинг': 61,
 'Infiniti FX FX37 II (S51) Рестайлинг': 60,
 'Audi A5 I (8T) Рестайлинг': 60,
 'Lexus GX 460 II': 59,
 'Infiniti Q50 I': 59,
 'Mitsubishi Pajero Sport II Рестайлинг': 59,
 'Honda Civic VI': 58,
 'MICRA': 58,
 'IS': 58,
 'Infiniti FX FX35 I (S50)': 58,
 'Honda Fit I': 57,
 'Toyota RAV4 V (XA50)': 56,
 'Honda CR-V II': 56,
 'Audi A4 II (B6)': 56,
 'Lexus GX 470 I': 56,
 'Mitsubishi Outlander III Рестайлинг': 55,
 'Honda Civic VIII Рестайлинг': 55,
 'Toyota RAV4 III (XA30)': 55,
 'Volvo S80 I': 55,
 'Volkswagen Golf VI': 54,
 'Skoda Karoq I': 54,
 'Lexus RX 330 II': 54,
 'Infiniti FX FX37 II (S51)': 53,
 'CELICA': 53,
 'GX': 53,
 'S_CLASS_MAYBACH': 53,
 'Audi A5 II (F5)': 53,
 'Skoda Octavia II (A5)': 52,
 'Honda Accord VIII Рестайлинг': 52,
 'Lexus NX 300 I Рестайлинг': 52,
 'Honda Vezel I': 52,
 'HILUX': 52,
 'GLE_KLASSE_COUPE': 51,
 'Volkswagen Golf VII': 51,
 'AMAROK': 51,
 'SHARAN': 51,
 'Toyota Highlander II (U40) Рестайлинг': 51,
 'EX': 51,
 'BMW X3 30d xDrive III (G01)': 50,
 'Nissan Murano II (Z51) Рестайлинг 2': 50,
 'BMW 5 серии 520d xDrive VII (G30/G31)': 50,
 'X5_M': 50,
 'BMW X5 30d III (F15)': 49,
 'Audi A6 III (C6) Рестайлинг': 49,
 'Mercedes-Benz GL-Класс 350 CDI BlueTEC II (X166)': 49,
 'Lexus GX 460 II Рестайлинг': 49,
 'Toyota Hilux VIII': 49,
 'Mitsubishi Colt VI (Z20/Z30)': 49,
 'Nissan Primera III (P12)': 49,
 'Mitsubishi L200 IV': 49,
 'Infiniti FX FX35 I (S50) Рестайлинг': 49,
 'X7': 49,
 'Toyota Corolla X (E140, E150) Рестайлинг': 48,
 'Nissan Note I Рестайлинг': 48,
 'Nissan Pathfinder III Рестайлинг': 48,
 'Nissan Tiida I': 48,
 'Mercedes-Benz GLC 250 I (X253)': 48,
 'Audi A3 II (8P) Рестайлинг 2': 48,
 'Lexus LX 470 II Рестайлинг': 48,
 'Audi A5 I (8T)': 48,
 'Toyota Corolla XI (E160, E170)': 48,
 'Infiniti QX80 I Рестайлинг': 48,
 'Nissan Murano III (Z52)': 48,
 'COLT': 48,
 'FELICIA': 48,
 'Volkswagen Touareg III': 47,
 'BMW X5 25d III (F15)': 47,
 'Audi A6 II (C5) Рестайлинг': 47,
 'Lexus ES 250 VII': 46,
 'Honda Civic VII': 46,
 'Toyota Land Cruiser 200 Series': 46,
 'Lexus IS 250 II': 46,
 'Toyota Auris I': 46,
 'W124': 46,
 'PILOT': 46,
 'CL_KLASSE': 46,
 'Volvo XC70 II Рестайлинг': 45,
 'Infiniti G G35 IV': 45,
 'Toyota Camry VI (XV40)': 45,
 'Lexus GS 300 III': 45,
 'Honda Accord VI': 45,
 'Volvo S60 II Рестайлинг': 45,
 'YARIS': 45,
 'Honda Freed II': 45,
 'QASHQAI_PLUS_2': 45,
 'BMW X3 20d xDrive III (G01)': 44,
 'TT': 44,
 'PRIUS': 44,
 'Mercedes-Benz GLE 350 d I (W166)': 44,
 'Mitsubishi Pajero IV Рестайлинг 2': 44,
 'Honda Freed Spike I': 43,
 'Volvo S80 I Рестайлинг': 43,
 'Honda Accord IX': 43,
 'Mercedes-Benz GLE Coupe 350 d I (C292)': 43,
 'HR_V': 43,
 'Nissan Juke I Рестайлинг': 43,
 'Q50': 43,
 'BMW 5 серии 530d xDrive VII (G30/G31)': 43,
 'Mitsubishi Pajero Sport I Рестайлинг': 43,
 'Mercedes-Benz E-Класс 200 7G-Tronic IV (W212, S212, C207)': 43,
 'Lexus GS 350 IV': 42,
 'Infiniti FX FX35 II (S51)': 42,
 'Volkswagen Touareg I Рестайлинг': 42,
 'Infiniti QX50 I': 42,
 'Skoda Fabia I': 42,
 'Volvo S40 II': 41,
 'Toyota Corolla X (E140, E150)': 41,
 'Audi A3 III (8V) Рестайлинг': 41,
 'Volvo S60 I': 41,
 'SENTRA': 41,
 'Honda CR-V V': 41,
 'Nissan Teana II': 41,
 'Infiniti G G25 IV': 41,
 'Nissan Teana III': 41,
 'Infiniti QX50 II': 40,
 'M5': 40,
 'BMW 5 серии 530i xDrive VII (G30/G31)': 40,
 'LEAF': 40,
 'SERENA': 40,
 'HIACE': 39,
 'CLK_KLASSE': 39,
 'Honda Civic V': 39,
 'Toyota Corolla IX (E120, E130) Рестайлинг': 39,
 'Lexus RX 300 II': 39,
 'Mercedes-Benz S-Класс 500 Long VI (W222, C217)': 39,
 'Toyota Land Cruiser Prado 120 Series': 39,
 'Lexus ES 200 VI Рестайлинг': 39,
 'Infiniti M M37 IV': 39,
 'Lexus LX 470 II': 39,
 'BMW 3 серии 320d xDrive VII (G2x)': 38,
 'Nissan Note I': 38,
 'Honda Stream I': 38,
 'BMW 3 серии 320i VI (F3x)': 37,
 'BMW X5 35i III (F15)': 37,
 'Audi A4 I (B5)': 37,
 'Honda Civic X': 37,
 'OCTAVIA_RS': 37,
 'Volvo C30 I': 37,
 'Lexus RX 400h II Рестайлинг': 37,
 'Honda Accord VII': 37,
 'Toyota Highlander III (U50)': 37,
 'Infiniti QX80 I Рестайлинг 2': 37,
 'BMW X5 35i II (E70) Рестайлинг': 37,
 'Volvo S40 I Рестайлинг': 37,
 'Lexus RX 450h III': 37,
 'Volvo S90 II': 37,
 'Mercedes-Benz CLA 200 I (C117, X117) Рестайлинг': 37,
 'A1': 36,
 'Volvo XC40 I': 36,
 'Volkswagen Tiguan II Рестайлинг': 36,
 'MONTERO_SPORT': 36,
 'Honda CR-V I Рестайлинг': 36,
 'NAVARA': 36,
 'Nissan Almera II (N16) Рестайлинг': 36,
 'CROWN': 36,
 'E_KLASSE_AMG': 36,
 'Toyota Corolla AMT X (E140, E150)': 35,
 'Skoda Fabia I Рестайлинг': 35,
 'Mercedes-Benz V-Класс L 250 d длинный II': 35,
 'Skoda Octavia DSG7 II (A5) Рестайлинг': 35,
 'VERSO': 35,
 'Skoda Octavia IV (A8)': 35,
 'Mercedes-Benz C-Класс 180 IV (W205)': 35,
 'BMW X5 40d III (F15)': 34,
 'GLC_COUPE': 34,
 'Honda HR-V I Рестайлинг': 34,
 'Volvo 940': 34,
 'BMW X6 35i I (E71)': 34,
 'Volvo XC90 II Рестайлинг': 34,
 'Toyota Land Cruiser Prado 150 Series Рестайлинг 3': 34,
 'Nissan Micra III (K12)': 33,
 'Volkswagen Passat B3': 33,
 'Honda Jazz I Рестайлинг': 33,
 'Mitsubishi Pajero II': 33,
 'BMW 3 серии 316i VI (F3x)': 33,
 '850': 33,
 'Volkswagen Passat B5 Рестайлинг': 33,
 'Mitsubishi Galant VIII Рестайлинг': 33,
 'QX50': 33,
 'TUNDRA': 33,
 'Volkswagen Jetta V': 33,
 'Nissan Murano II (Z51) Рестайлинг': 33,
 'C30': 33,
 'Lexus ES 250 VI Рестайлинг': 32,
 'Mercedes-Benz M-Класс 350 CDI III (W166)': 32,
 'BMW 3 серии 320i xDrive VI (F3x) Рестайлинг': 32,
 'Honda Fit III Рестайлинг': 32,
 'BORA': 32,
 'Toyota Camry VI (XV40) Рестайлинг': 32,
 'Toyota Avensis II Рестайлинг': 31,
 'BMW 3 серии 320d xDrive VI (F3x) Рестайлинг': 31,
 'Audi A1 I (8X)': 31,
 'A4_ALLROAD': 31,
 'Mercedes-Benz GLA 250 I (X156)': 31,
 'Audi Q7 45 TDI II (4M) Рестайлинг': 31,
 'Mercedes-Benz C-Класс 180 III (W204) Рестайлинг': 31,
 'Mercedes-Benz C-Класс 180 IV (W205) Рестайлинг': 31,
 'GRANDIS': 31,
 'Infiniti EX EX35 I (J50)': 30,
 'Honda Accord V': 30,
 'Audi 80 V (B4)': 30,
 'SKYLINE': 30,
 'Lexus IS 250 III': 30,
 'Nissan X-Trail I Рестайлинг': 30,
 'ALPHARD': 30,
 'SL_KLASSE': 30,
 'Honda Civic Ferio II': 30,
 'BMW 1 серии 116i II (F20/F21)': 30,
 'BMW X6 35i II (F16)': 30,
 'Mercedes-Benz GLE 300 d II (V167)': 29,
 'BMW X3 20i xDrive III (G01)': 29,
 'Lexus RX 270 III': 29,
 'CARINA': 29,
 'Audi Q5 8tiptronic I (8R)': 29,
 'BMW 5 серии 520d VII (G30/G31)': 29,
 'Mitsubishi Pajero III Рестайлинг': 29,
 'Lexus LS 460 IV': 29,
 'Infiniti EX EX25 I (J50)': 29,
 'Honda Fit II': 29,
 'QX80': 29,
 'CHASER': 29,
 'Mercedes-Benz E-Класс 200 V (W213, S213, C238) Рестайлинг': 29,
 'SLK_KLASSE': 29,
 'Audi A7 I (4G) Рестайлинг': 29,
 'Toyota Fortuner II': 29,
 'Volvo 740': 29,
 'Infiniti QX60 I': 29,
 'Volvo V40 Cross Country I': 28,
 'Honda Pilot II Рестайлинг': 28,
 'Honda Civic Ferio III': 28,
 'ECLIPSE': 28,
 'GOLF_GTI': 28,
 'R_KLASSE': 28,
 'Audi 100 III (C3)': 28,
 'Honda Pilot II': 28,
 'Infiniti JX JX35': 28,
 'Infiniti QX60 I Рестайлинг': 28,
 'Lexus GS 250 IV': 28,
 'Nissan Teana II Рестайлинг': 28,
 'Mercedes-Benz C-Класс 200 IV (W205)': 28,
 'BMW 3 серии 318i VI (F3x) Рестайлинг': 27,
 'BMW X3 20i xDrive II (F25) Рестайлинг': 27,
 'Infiniti QX56 I Рестайлинг': 27,
 'BMW X1 20i I (E84) Рестайлинг': 27,
 'Volkswagen Multivan T6': 27,
 'BMW 5 серии 520i VI (F10/F11/F07) Рестайлинг': 27,
 'Nissan Patrol VI (Y62)': 27,
 'MONTERO': 27,
 'Mitsubishi ASX I Рестайлинг 2': 26,
 'Volkswagen Passat CC I Рестайлинг': 26,
 'CALDINA': 26,
 'Toyota Venza I Рестайлинг': 26,
 'M_KLASSE_AMG': 26,
 'Audi A8 Long III (D4)': 26,
 'Audi Q8 45 TDI I': 26,
 'Infiniti QX50 I Рестайлинг': 26,
 'Volvo S40 I': 26,
 'Toyota Camry VIII (XV70) Рестайлинг': 26,
 'BMW X3 28i xDrive II (F25)': 26,
 'Mercedes-Benz GLC 250 d I (X253)': 25,
 'SPACE_STAR': 25,
 'QX60': 25,
 'JX': 25,
 'Toyota Corolla XI (E160, E170) Рестайлинг': 25,
 'Mercedes-Benz A-Класс 180 III (W176)': 25,
 'BMW X3 20d xDrive II (F25)': 25,
 'Honda Odyssey II': 25,
 'JAZZ': 25,
 'Volvo V90 Cross Country I': 25,
 'Infiniti FX FX30d II (S51) Рестайлинг': 25,
 'Infiniti QX56 I': 25,
 '940': 25,
 'Mercedes-Benz S-Класс 500 VI (W222, C217)': 25,
 'Mitsubishi Eclipse Cross I': 25,
 'BMW X3 20d xDrive II (F25) Рестайлинг': 24,
 'Toyota Corolla XII (E210)': 24,
 'Honda Stepwgn Spada V': 24,
 'Honda Integra III Рестайлинг': 24,
 'BMW X6 35i I (E71) Рестайлинг': 24,
 'Honda CR-V II Рестайлинг': 24,
 'Mitsubishi L200 V': 24,
 'BMW X4 20d I (F26)': 24,
 'Mercedes-Benz M-Класс 350 III (W166)': 24,
 'Volkswagen Golf Plus II': 24,
 'Nissan Murano I (Z50)': 24,
 'SPACE_WAGON': 24,
 'Mercedes-Benz GL-Класс 350 I (X164) Рестайлинг': 24,
 'SCIROCCO': 23,
 'Mercedes-Benz GL-Класс 500 II (X166)': 23,
 'Mercedes-Benz E-Класс 220 d V (W213, S213, C238)': 23,
 'Toyota Avensis II': 23,
 'Audi A6 45 TFSI V (C8)': 23,
 'Honda Accord X': 23,
 'Audi Q8 55 TFSI I': 23,
 'Skoda Felicia I': 23,
 'Toyota Camry VII (XV50) Рестайлинг 2': 23,
 'BMW X7 30d I (G07)': 23,
 'Mercedes-Benz A-Класс 200 IV (W177)': 23,
 'Nissan Qashqai+2 I Рестайлинг': 22,
 'Mercedes-Benz E-Класс 350 IV (W212, S212, C207)': 22,
 'Mercedes-Benz G-Класс AMG 63 AMG II (W463)': 22,
 'V40_CC': 22,
 '8ER': 22,
 'Infiniti M M35 III': 22,
 '4RUNNER': 22,
 'Honda CR-V IV Рестайлинг': 22,
 'BMW X5 40i IV (G05)': 22,
 'Mercedes-Benz M-Класс 350 II (W164) Рестайлинг': 22,
 'Toyota Corolla IX (E120, E130)': 22,
 'Toyota Hilux VII Рестайлинг': 21,
 'Nissan Leaf I (ZE0/AZE0)': 21,
 'Honda Odyssey I': 21,
 'Infiniti G G37 IV': 21,
 'Honda Prelude V': 21,
 'Honda Stepwgn V': 21,
 'Volvo S70': 21,
 'Honda Partner I': 21,
 'ROOMSTER': 21,
 'VENZA': 21,
 'Skoda Superb DSG II': 21,
 'CARINA_E': 21,
 'Honda Accord Type-S Type S VIII': 21,
 'Volkswagen Teramont I': 21,
 'BMW 5 серии 520d VI (F10/F11/F07) Рестайлинг': 21,
 'Mitsubishi Montero Sport': 21,
 'FIT': 21,
 'BMW X5 3.0si II (E70)': 20,
 'Volvo S80 II Рестайлинг 2': 20,
 'Audi A8 Long III (D4) Рестайлинг': 20,
 'Audi 100 III (C3) Рестайлинг': 20,
 'Audi A8 III (D4)': 20,
 'Mitsubishi Carisma I': 20,
 'Honda N-WGN I Рестайлинг': 20,
 'GLE_KLASSE_COUPE_AMG': 20,
 'Honda Stepwgn Spada V Рестайлинг': 20,
 'Volkswagen Multivan T5 Рестайлинг': 20,
 'BMW X1 18i I (E84) Рестайлинг': 20,
 'Honda Accord Type-S Type S VII Рестайлинг': 20,
 'Skoda Superb DSG II Рестайлинг': 20,
 'Honda Civic Hybrid VIII': 20,
 'Volkswagen Caravelle T6': 20,
 'SIENNA': 20,
 'BMW 1 серии 116i I (E81/E82/E87/E88) Рестайлинг': 20,
 'Mercedes-Benz CLA 200 I (C117, X117)': 20,
 'VITZ': 20,
 'BMW X6 M II (F86)': 20,
 'BMW 5 серии 520i III (E34)': 20,
 'Volkswagen Passat CC I': 20,
 'Q8': 20,
 'Honda Fit Shuttle I': 20,
 'BMW X6 30d III (G06)': 20,
 'BEETLE': 20,
 'Volvo 240 Series': 20,
 'PAJERO_PININ': 20,
 'Honda Civic IX': 20,
 'Mercedes-Benz GLS 400 d II (X167)': 20,
 'Volvo 960 I Рестайлинг': 19,
 'Infiniti QX80 I': 19,
 'Mercedes-Benz GLS 400 I (X166)': 19,
 'Volvo XC70 I Рестайлинг': 19,
 'LANCER_EVOLUTION': 19,
 'Infiniti M M35 III Рестайлинг': 19,
 'BMW X3 20i xDrive II (F25)': 19,
 'Lexus LS Long 600h L IV': 19,
 'Mercedes-Benz S-Класс 350 CDI BlueTEC Long VI (W222, C217)': 19,
 'BMW 3 серии 318i V (E90/E91/E92/E93) Рестайлинг': 19,
 'BMW 7 серии 730d xDrive VI (G11/G12) Рестайлинг': 19,
 'Mercedes-Benz C-Класс 200 IV (W205) Рестайлинг': 19,
 'Lexus LS Long 460 L IV': 19,
 'Volkswagen Passat B5': 19,
 'BMW 3 серии 320i xDrive VI (F3x)': 19,
 'Infiniti Q70 I Рестайлинг': 19,
 'Mercedes-Benz GLK-Класс 300 I (X204) Рестайлинг': 19,
 'Z4': 19,
 'Toyota Land Cruiser 100 Series Рестайлинг 2': 19,
 'Nissan Pathfinder III': 19,
 'V40': 18,
 'Mercedes-Benz V-Класс XL 250 d экстра длинный II': 18,
 'Lexus GX 460 II Рестайлинг 2': 18,
 'I3': 18,
 'Volkswagen Caravelle T5 Рестайлинг': 18,
 'PRELUDE': 18,
 'Volkswagen Golf IV': 18,
 '960': 18,
 'STEPWAGON': 18,
 'BMW X6 40d II (F16)': 18,
 'Lexus GS 300 II': 18,
 'PHAETON': 18,
 'Nissan Maxima V (A33)': 18,
 'Honda Civic Hybrid VIII Рестайлинг': 18,
 'Honda Crosstour I': 18,
 'W201': 18,
 'V70': 18,
 'Toyota Avensis III': 18,
 'BMW 5 серии 520i IV (E39)': 18,
 'BMW 1 серии 118i II (F20/F21) Рестайлинг 2': 18,
 'Lexus RX 450h III Рестайлинг': 18,
 'Lexus LS 500 V': 18,
 'Audi A6 I (C4)': 18,
 'Skoda Octavia I (A4)': 18,
 'Honda Prelude IV': 18,
 'Mercedes-Benz E-Класс 200 5G-Tronic IV (W212, S212, C207)': 18,
 'BMW 5 серии 523i VI (F10/F11/F07)': 18,
 'BMW X3 30i xDrive III (G01)': 18,
 'Volvo V40 Cross Country I Рестайлинг': 18,
 'C_KLASSE_AMG': 17,
 'BMW X5 30d II (E70) Рестайлинг': 17,
 'BMW 5 серии 520i VI (F10/F11/F07)': 17,
 'BMW 3 серии 320i VI (F3x) Рестайлинг': 17,
 'Lexus NX 300h I': 17,
 'BMW 5 серии 528i xDrive VI (F10/F11/F07) Рестайлинг': 17,
 'Volkswagen Golf V': 17,
 'CEFIRO': 17,
 'Nissan Note II Рестайлинг': 17,
 'FORTUNER': 17,
 'BMW X4 20i I (F26)': 17,
 'Infiniti QX4 I': 17,
 'Mercedes-Benz GLA 200 I (X156)': 17,
 'Mercedes-Benz M-Класс 300 III (W166)': 17,
 'Nissan Pathfinder IV': 17,
 'BMW 1 серии 118i II (F20/F21) Рестайлинг': 17,
 'Honda Crossroad': 17,
 'Honda Torneo': 17,
 'CRESTA': 17,
 'Infiniti G G35 III': 17,
 'Honda Legend IV': 17,
 'Lexus ES 350 V Рестайлинг': 17,
 'Skoda Roomster I Рестайлинг': 17,
 'M3': 16,
 'SEQUOIA': 16,
 'Honda N-WGN I': 16,
 'Toyota Land Cruiser Prado 120 Series Рестайлинг': 16,
 'Nissan Teana I Рестайлинг': 16,
 'BMW X4 20d II (G02)': 16,
 'BMW X1 18d xDrive II (F48)': 16,
 'Infiniti FX FX50 II (S51)': 16,
 'SUNNY': 16,
 'Honda Orthia I': 16,
 'Nissan Serena IV (C26)': 16,
 'BMW X4 30d I (F26)': 16,
 'Volvo S60 III': 16,
 'Lexus IS 250 II Рестайлинг': 16,
 'Honda Avancier I': 16,
 'BMW X5 30i II (E70)': 16,
 'Infiniti FX FX45 I (S50)': 16,
 'Honda Accord Type-S Type S VIII Рестайлинг': 16,
 'BMW 5 серии 520d xDrive VII (G30/G31) Рестайлинг': 16,
 'Mercedes-Benz E-Класс 300 IV (W212, S212, C207) Рестайлинг': 16,
 'S90': 16,
 'TERAMONT': 16,
 'Volkswagen Touareg I': 16,
 'S8': 16,
 'Mercedes-Benz GLE Coupe 400 I (C292)': 16,
 'LITE_ACE': 16,
 'BMW X5 48i II (E70)': 16,
 'ESTIMA': 16,
 'Lexus RX 350L IV': 16,
 'Volkswagen Caddy IV': 16,
 'Nissan Sentra VII (B17)': 16,

In [300]:
top_models = []
for model in models_to_numbers:
    if models_to_numbers[model]>=30:
        top_models.append(model)
top_models

['OCTAVIA',
 '5ER',
 'LANCER',
 'E_KLASSE',
 'PASSAT',
 'A6',
 '3ER',
 'POLO',
 'CAMRY',
 'X5',
 'X_TRAIL',
 'A4',
 'QASHQAI',
 'S_KLASSE',
 'OUTLANDER',
 'LAND_CRUISER',
 'ALMERA',
 'TIGUAN',
 'Volkswagen Polo V Рестайлинг',
 'TOUAREG',
 'COROLLA',
 'RAV_4',
 'C_KLASSE',
 'GOLF',
 'Skoda Octavia II (A5) Рестайлинг',
 'LAND_CRUISER_PRADO',
 'TEANA',
 'RAPID',
 'Skoda Octavia III (A7) Рестайлинг',
 'Skoda Octavia III (A7)',
 'M_KLASSE',
 '7ER',
 'XC90',
 'JETTA',
 'X6',
 'CIVIC',
 'Volkswagen Tiguan I Рестайлинг',
 'PAJERO',
 'Nissan Qashqai II',
 'Q7',
 'FX',
 'X3',
 'Volvo XC90 I Рестайлинг',
 'Nissan X-Trail III',
 'JUKE',
 'Volkswagen Tiguan II',
 'Skoda Rapid I Рестайлинг',
 'ACCORD',
 'SUPERB',
 'Mitsubishi Outlander III Рестайлинг 2',
 'S60',
 'Q5',
 'FABIA',
 'Volkswagen Polo V',
 'Skoda Fabia II Рестайлинг',
 'Skoda Rapid I',
 'Mitsubishi Outlander III',
 'YETI',
 'MURANO',
 'CR_V',
 'RX',
 'GL_KLASSE',
 'A3',
 'Honda Civic VIII',
 'Skoda Kodiaq I',
 '1ER',
 'PRIMERA',
 'X1',
 'A5',
 'A8',
 'Nissan X-Trail II Рестайлинг',
 'XC60',
 'Nissan Qashqai I Рестайлинг',
 'Nissan Juke I',
 'Mitsubishi Lancer IX Рестайлинг',
 'PAJERO_SPORT',
 '80',
 'TRANSPORTER',
 'ALMERA_CLASSIC',
 'S80',
 'Toyota RAV4 IV (CA40) Рестайлинг',
 'Nissan Terrano III (D10)',
 'Skoda Octavia I (A4) Рестайлинг',
 'Audi Q7 II (4M)',
 'Toyota Camry VIII (XV70)',
 'GALANT',
 'PATHFINDER',
 'Lexus LX 570 III Рестайлинг 2',
 'MULTIVAN',
 'TIIDA',
 'Skoda Rapid II',
 'Audi Q5 I (8R) Рестайлинг',
 'LX',
 'PASSAT_CC',
 'CARAVELLE',
 'Skoda Yeti I',
 'Q3',
 'Infiniti QX70',
 'Mercedes-Benz E-Класс 200 V (W213, S213, C238)',
 'Toyota Land Cruiser 200 Series Рестайлинг 2',
 'Audi A6 IV (C7) Рестайлинг',
 'Toyota RAV4 IV (CA40)',
 'ASX',
 'AVENSIS',
 'Nissan Almera III (G15)',
 'Mitsubishi Lancer X',
 'Mitsubishi Lancer IX',
 'Volvo XC70 II',
 'Honda CR-V IV',
 'NOTE',
 'Mitsubishi Outlander III Рестайлинг 3',
 'Volvo XC60 I Рестайлинг',
 'CARISMA',
 'Volvo S60 II',
 'Audi A4 V (B9)',
 'G_KLASSE',
 'Lexus RX 350 II Рестайлинг',
 'Audi Q5 I (8R)',
 'Honda CR-V III',
 'Volvo XC60 I',
 'Volvo XC90 II',
 'TERRANO',
 '6ER',
 'Audi Q3 I (8U)',
 'Audi A6 IV (C7)',
 'S40',
 'Skoda Yeti I Рестайлинг',
 'Audi Q5 II (FY)',
 'Audi Q7 I (4L) Рестайлинг',
 'Mitsubishi Pajero IV Рестайлинг 1',
 'PATROL',
 'Volkswagen Polo VI',
 'Volvo XC90 I',
 'Toyota Camry VII (XV50)',
 '100',
 'CADDY',
 'Lexus LX 570 III',
 'Toyota Land Cruiser Prado 150 Series Рестайлинг 1',
 'Mitsubishi Pajero Sport III',
 'GLK_KLASSE',
 'Lexus NX 200 I',
 'HIGHLANDER',
 'Lexus LX 570 III Рестайлинг',
 'Mitsubishi ASX I Рестайлинг',
 'KODIAQ',
 'Mitsubishi Outlander II Рестайлинг',
 'MAXIMA',
 'G35',
 'Volkswagen Touareg II',
 'Honda CR-V III Рестайлинг',
 'CLS_KLASSE',
 'Nissan Qashqai I',
 'XC70',
 'Lexus RX 350 III',
 'X4',
 'Lexus LX 450d III Рестайлинг 2',
 'Mitsubishi Outlander II',
 'Audi A6 III (C6)',
 'Audi A3 III (8V)',
 'Volvo S60 I Рестайлинг',
 'Audi 80 IV (B3)',
 'Toyota RAV4 III (XA30) Рестайлинг',
 'L200',
 'Skoda Superb III',
 'GS',
 'Volkswagen Jetta VI Рестайлинг',
 'Nissan X-Trail II',
 'GLE_KLASSE',
 'Lexus RX 200t IV',
 'Honda Accord VIII',
 'Mitsubishi ASX I',
 'Toyota Land Cruiser Prado 150 Series',
 'Toyota Camry VII (XV50) Рестайлинг',
 'Audi A4 IV (B8) Рестайлинг',
 'Nissan Almera Classic I',
 'ALLROAD',
 'Toyota Land Cruiser 200 Series Рестайлинг 1',
 'Nissan Qashqai II Рестайлинг',
 'GLC_KLASSE',
 'QX56',
 'Lexus RX 350 III Рестайлинг',
 'Volvo XC60 II',
 'Lexus RX 270 III Рестайлинг',
 'A_KLASSE',
 'QX70',
 'A7',
 'Skoda Fabia II',
 'Nissan Tiida I Рестайлинг',
 'Volkswagen Touareg II Рестайлинг',
 'Lexus NX 200 I Рестайлинг',
 'X6_M',
 'Infiniti QX56 II',
 'Audi A4 IV (B8)',
 'Audi A6 II (C5)',
 'Mitsubishi Pajero IV',
 'Volvo S40 II Рестайлинг',
 'Lexus RX 350 IV',
 'NX',
 'Volkswagen Passat B6',
 'CLA_KLASSE',
 'ES',
 'AURIS',
 'GLS_KLASSE',
 'M',
 'Honda CR-V I',
 'Toyota Land Cruiser Prado 150 Series Рестайлинг 2',
 'V_KLASSE',
 'Lexus RX 300 IV',
 'Audi Q7 I (4L)',
 'Skoda Superb II',
 'LS',
 'Nissan X-Trail III Рестайлинг',
 'BMW X6 30d II (F16)',
 'VIANO',
 'Mitsubishi Carisma I Рестайлинг',
 'Honda Accord VII Рестайлинг',
 'TOURAN',
 'BMW X5 30d IV (G05)',
 'Audi 100 IV (C4)',
 'Mercedes-Benz GLS 350 d I (X166)',
 'Honda Freed I',
 'Volkswagen Jetta VI',
 'Mitsubishi Pajero Sport II',
 'Volkswagen Tiguan I',
 'Volkswagen Passat B8',
 'G_KLASSE_AMG',
 'Honda HR-V I',
 'Volvo S80 II Рестайлинг',
 'Volkswagen Passat B7',
 'Lexus RX 300 I',
 'GLA_CLASS',
 'Audi Q3 I (8U) Рестайлинг',
 'Volvo 850',
 'S_KLASSE_AMG',
 'Mitsubishi Lancer X Рестайлинг',
 '4',
 'Volvo S80 II',
 'Mitsubishi Outlander I',
 'Lexus ES 250 VI',
 'VITO',
 'MARK_II',
 'B_KLASSE',
 'GOLF_PLUS',
 'Honda Shuttle II',
 'Honda Fit III',
 'Audi A7 I (4G)',
 'Audi A4 III (B7)',
 'Lexus RX 300 IV Рестайлинг',
 'Lexus NX 200t I',
 'Mercedes-Benz E-Класс 200 IV (W212, S212, C207) Рестайлинг',
 'Infiniti FX FX37 II (S51) Рестайлинг',
 'Audi A5 I (8T) Рестайлинг',
 'Lexus GX 460 II',
 'Infiniti Q50 I',
 'Mitsubishi Pajero Sport II Рестайлинг',
 'Honda Civic VI',
 'MICRA',
 'IS',
 'Infiniti FX FX35 I (S50)',
 'Honda Fit I',
 'Toyota RAV4 V (XA50)',
 'Honda CR-V II',
 'Audi A4 II (B6)',
 'Lexus GX 470 I',
 'Mitsubishi Outlander III Рестайлинг',
 'Honda Civic VIII Рестайлинг',
 'Toyota RAV4 III (XA30)',
 'Volvo S80 I',
 'Volkswagen Golf VI',
 'Skoda Karoq I',
 'Lexus RX 330 II',
 'Infiniti FX FX37 II (S51)',
 'CELICA',
 'GX',
 'S_CLASS_MAYBACH',
 'Audi A5 II (F5)',
 'Skoda Octavia II (A5)',
 'Honda Accord VIII Рестайлинг',
 'Lexus NX 300 I Рестайлинг',
 'Honda Vezel I',
 'HILUX',
 'GLE_KLASSE_COUPE',
 'Volkswagen Golf VII',
 'AMAROK',
 'SHARAN',
 'Toyota Highlander II (U40) Рестайлинг',
 'EX',
 'BMW X3 30d xDrive III (G01)',
 'Nissan Murano II (Z51) Рестайлинг 2',
 'BMW 5 серии 520d xDrive VII (G30/G31)',
 'X5_M',
 'BMW X5 30d III (F15)',
 'Audi A6 III (C6) Рестайлинг',
 'Mercedes-Benz GL-Класс 350 CDI BlueTEC II (X166)',
 'Lexus GX 460 II Рестайлинг',
 'Toyota Hilux VIII',
 'Mitsubishi Colt VI (Z20/Z30)',
 'Nissan Primera III (P12)',
 'Mitsubishi L200 IV',
 'Infiniti FX FX35 I (S50) Рестайлинг',
 'X7',
 'Toyota Corolla X (E140, E150) Рестайлинг',
 'Nissan Note I Рестайлинг',
 'Nissan Pathfinder III Рестайлинг',
 'Nissan Tiida I',
 'Mercedes-Benz GLC 250 I (X253)',
 'Audi A3 II (8P) Рестайлинг 2',
 'Lexus LX 470 II Рестайлинг',
 'Audi A5 I (8T)',
 'Toyota Corolla XI (E160, E170)',
 'Infiniti QX80 I Рестайлинг',
 'Nissan Murano III (Z52)',
 'COLT',
 'FELICIA',
 'Volkswagen Touareg III',
 'BMW X5 25d III (F15)',
 'Audi A6 II (C5) Рестайлинг',
 'Lexus ES 250 VII',
 'Honda Civic VII',
 'Toyota Land Cruiser 200 Series',
 'Lexus IS 250 II',
 'Toyota Auris I',
 'W124',
 'PILOT',
 'CL_KLASSE',
 'Volvo XC70 II Рестайлинг',
 'Infiniti G G35 IV',
 'Toyota Camry VI (XV40)',
 'Lexus GS 300 III',
 'Honda Accord VI',
 'Volvo S60 II Рестайлинг',
 'YARIS',
 'Honda Freed II',
 'QASHQAI_PLUS_2',
 'BMW X3 20d xDrive III (G01)',
 'TT',
 'PRIUS',
 'Mercedes-Benz GLE 350 d I (W166)',
 'Mitsubishi Pajero IV Рестайлинг 2',
 'Honda Freed Spike I',
 'Volvo S80 I Рестайлинг',
 'Honda Accord IX',
 'Mercedes-Benz GLE Coupe 350 d I (C292)',
 'HR_V',
 'Nissan Juke I Рестайлинг',
 'Q50',
 'BMW 5 серии 530d xDrive VII (G30/G31)',
 'Mitsubishi Pajero Sport I Рестайлинг',
 'Mercedes-Benz E-Класс 200 7G-Tronic IV (W212, S212, C207)',
 'Lexus GS 350 IV',
 'Infiniti FX FX35 II (S51)',
 'Volkswagen Touareg I Рестайлинг',
 'Infiniti QX50 I',
 'Skoda Fabia I',
 'Volvo S40 II',
 'Toyota Corolla X (E140, E150)',
 'Audi A3 III (8V) Рестайлинг',
 'Volvo S60 I',
 'SENTRA',
 'Honda CR-V V',
 'Nissan Teana II',
 'Infiniti G G25 IV',
 'Nissan Teana III',
 'Infiniti QX50 II',
 'M5',
 'BMW 5 серии 530i xDrive VII (G30/G31)',
 'LEAF',
 'SERENA',
 'HIACE',
 'CLK_KLASSE',
 'Honda Civic V',
 'Toyota Corolla IX (E120, E130) Рестайлинг',
 'Lexus RX 300 II',
 'Mercedes-Benz S-Класс 500 Long VI (W222, C217)',
 'Toyota Land Cruiser Prado 120 Series',
 'Lexus ES 200 VI Рестайлинг',
 'Infiniti M M37 IV',
 'Lexus LX 470 II',
 'BMW 3 серии 320d xDrive VII (G2x)',
 'Nissan Note I',
 'Honda Stream I',
 'BMW 3 серии 320i VI (F3x)',
 'BMW X5 35i III (F15)',
 'Audi A4 I (B5)',
 'Honda Civic X',
 'OCTAVIA_RS',
 'Volvo C30 I',
 'Lexus RX 400h II Рестайлинг',
 'Honda Accord VII',
 'Toyota Highlander III (U50)',
 'Infiniti QX80 I Рестайлинг 2',
 'BMW X5 35i II (E70) Рестайлинг',
 'Volvo S40 I Рестайлинг',
 'Lexus RX 450h III',
 'Volvo S90 II',
 'Mercedes-Benz CLA 200 I (C117, X117) Рестайлинг',
 'A1',
 'Volvo XC40 I',
 'Volkswagen Tiguan II Рестайлинг',
 'MONTERO_SPORT',
 'Honda CR-V I Рестайлинг',
 'NAVARA',
 'Nissan Almera II (N16) Рестайлинг',
 'CROWN',
 'E_KLASSE_AMG',
 'Toyota Corolla AMT X (E140, E150)',
 'Skoda Fabia I Рестайлинг',
 'Mercedes-Benz V-Класс L 250 d длинный II',
 'Skoda Octavia DSG7 II (A5) Рестайлинг',
 'VERSO',
 'Skoda Octavia IV (A8)',
 'Mercedes-Benz C-Класс 180 IV (W205)',
 'BMW X5 40d III (F15)',
 'GLC_COUPE',
 'Honda HR-V I Рестайлинг',
 'Volvo 940',
 'BMW X6 35i I (E71)',
 'Volvo XC90 II Рестайлинг',
 'Toyota Land Cruiser Prado 150 Series Рестайлинг 3',
 'Nissan Micra III (K12)',
 'Volkswagen Passat B3',
 'Honda Jazz I Рестайлинг',
 'Mitsubishi Pajero II',
 'BMW 3 серии 316i VI (F3x)',
 '850',
 'Volkswagen Passat B5 Рестайлинг',
 'Mitsubishi Galant VIII Рестайлинг',
 'QX50',
 'TUNDRA',
 'Volkswagen Jetta V',
 'Nissan Murano II (Z51) Рестайлинг',
 'C30',
 'Lexus ES 250 VI Рестайлинг',
 'Mercedes-Benz M-Класс 350 CDI III (W166)',
 'BMW 3 серии 320i xDrive VI (F3x) Рестайлинг',
 'Honda Fit III Рестайлинг',
 'BORA',
 'Toyota Camry VI (XV40) Рестайлинг',
 'Toyota Avensis II Рестайлинг',
 'BMW 3 серии 320d xDrive VI (F3x) Рестайлинг',
 'Audi A1 I (8X)',
 'A4_ALLROAD',
 'Mercedes-Benz GLA 250 I (X156)',
 'Audi Q7 45 TDI II (4M) Рестайлинг',
 'Mercedes-Benz C-Класс 180 III (W204) Рестайлинг',
 'Mercedes-Benz C-Класс 180 IV (W205) Рестайлинг',
 'GRANDIS',
 'Infiniti EX EX35 I (J50)',
 'Honda Accord V',
 'Audi 80 V (B4)',
 'SKYLINE',
 'Lexus IS 250 III',
 'Nissan X-Trail I Рестайлинг',
 'ALPHARD',
 'SL_KLASSE',
 'Honda Civic Ferio II',
 'BMW 1 серии 116i II (F20/F21)',
 'BMW X6 35i II (F16)']

In [301]:
# reduce number of categories:
# if number of records for a model less than 30, replace model_name with "other" ...
data.model_name = data.model_name.apply(lambda x: is_top_model(x, top_models))

In [302]:
# sort out:
cat_columns.append("model_name")

### 2. body_type

In [303]:
data.body_type.value_counts()

внедорожник 5 дв.          27985
седан                      23726
лифтбек                     4919
хэтчбек 5 дв.               4270
универсал 5 дв.             2526
минивэн                     1684
купе                        1460
компактвэн                  1081
хэтчбек 3 дв.                747
пикап двойная кабина         551
купе-хардтоп                 228
внедорожник 3 дв.            198
кабриолет                    170
родстер                      152
фургон                       143
микровэн                      46
седан-хардтоп                 19
пикап одинарная кабина        14
седан 2 дв.                    8
лимузин                        8
пикап полуторная кабина        7
внедорожник открытый           6
тарга                          2
фастбек                        1
Name: body_type, dtype: int64

In [304]:
# translate body types:
data.body_type = data.body_type.map(
                {'седан' : 'sedan',
                 'внедорожник 5 дв.' : 'SUV 5 doors.',
                 'лифтбек' : 'liftback',
                 'хэтчбек 5 дв.' : 'hatchback 5 doors.',
                 'универсал 5 дв.' : 'station wagon 5 doors.',
                 'минивэн' : 'minivan',
                 'купе' : 'coupe',
                 'компактвэн' : 'compact MPV',
                 'хэтчбек 3 дв.' : 'hatchback 3 doors.',
                 'пикап двойная кабина' : 'pickup double cab',
                 'купе-хардтоп' : 'coupe-hardtop',
                 'внедорожник 3 дв.' : 'off-road vehicle 3 doors.',
                 'родстер' :  'roadster',
                 'фургон' : 'van',
                 'кабриолет' : 'cabriolet',
                 'седан-хардтоп' : 'hardtop sedan',
                 'микровэн' : 'microvan',
                 'седан 2 дв.' : 'sedan 2 doors.',
                 'лимузин' : 'limousine',
                 'пикап одинарная кабина' : 'pickup single cab',
                 'пикап полуторная кабина' : 'pickup one-and-a-half cab',
                 'внедорожник открытый' :  'off-road vehicle open',
                 'тарга' : 'targa',
                 'фастбек' : 'fastback'})

In [305]:
# sort out:
cat_columns.append("body_type")
cat_columns

['brand', 'model_name', 'body_type']

### 3. doors

In [306]:
data.doors.value_counts()

5    41563
4    25317
2     2060
3     1010
0        1
Name: doors, dtype: int64

In [307]:
# sort out:
cat_columns.append("doors")
cat_columns

['brand', 'model_name', 'body_type', 'doors']

### 4. model_date

In [308]:
data.model_date.describe()

count    69951.000000
mean      2008.272619
std          7.322240
min       1904.000000
25%       2005.000000
50%       2010.000000
75%       2013.000000
max       2021.000000
Name: model_date, dtype: float64

Dataset contains data about car model from year 1904...

In [309]:
# sort out:
num_columns.append("model_date")
num_columns

['model_date']

In [310]:
# to add year of collecting datasets, find it out: 
# for train and test data it is different:
traindata_year = data[data.test_train=="train"]["model_date"].max()
testdata_year = data[data.test_train=="test"]["model_date"].max()
traindata_year, testdata_year

(2021, 2020)

### ++++++ new column +++++

In [311]:
# create new column "dataset_year" (year of collecting datasets)
data["dataset_year"] = np.where(data.test_train=="test", testdata_year, traindata_year)
data.dataset_year.sample(7)

12308    2021
35862    2020
4563     2021
1652     2021
6542     2021
28909    2021
45290    2020
Name: dataset_year, dtype: int64

In [312]:
# sort out:
bin_columns.append("dataset_year")
bin_columns

['dataset_year']

### ++++++ new column +++++

In [313]:
#### add model age:
data["model_age"]= data.dataset_year - data.model_date
data.model_age.sample(7)

63695    13
35802    12
41443    20
9915     26
44041     4
6935      6
28412     6
Name: model_age, dtype: int64

In [314]:
# sort out:
num_columns.append("model_age")
num_columns

['model_date', 'model_age']

### ++++++ new column +++++

In [315]:
# new column-marker to show if it is a new model on a market:
data["new_model"] = np.where(data.model_age==0, "yes", "no")

In [316]:
data.new_model.value_counts()

no     69927
yes       24
Name: new_model, dtype: int64

In [317]:
# sort out:
bin_columns.append("new_model")
bin_columns

['dataset_year', 'new_model']

### 5. prod_date

In [318]:
data.prod_date.describe()

count    69951.000000
mean      2010.393576
std          7.011943
min       1904.000000
25%       2007.000000
50%       2012.000000
75%       2016.000000
max       2021.000000
Name: prod_date, dtype: float64

In [319]:
# compare statistics for train and test datasets:
[data[data.test_train=="test"].prod_date.describe(), 
 "===============================",
 data[data.test_train=="train"].prod_date.describe()]

[count    34686.000000
 mean      2009.264602
 std          7.047661
 min       1904.000000
 25%       2006.000000
 50%       2011.000000
 75%       2014.000000
 max       2020.000000
 Name: prod_date, dtype: float64,
 '===============================',
 count    35265.000000
 mean      2011.504012
 std          6.796175
 min       1939.000000
 25%       2008.000000
 50%       2013.000000
 75%       2017.000000
 max       2021.000000
 Name: prod_date, dtype: float64]

test contains car produced in 1904, it will be no easy to predict  it's price on the base on train dataset...

In [320]:
# sort out:
num_columns.append("prod_date")
num_columns

['model_date', 'model_age', 'prod_date']

test dataset is one year older. Adding a car age column Add columns "raritet" , "new_model" and make feature categorian by 10 years.....

### ++++++++ new column +++++++++

In [321]:
data["car_age"] = data.dataset_year - data.model_date
data["car_age"].describe()

count    69951.000000
mean        12.231519
std          7.257905
min          0.000000
25%          7.000000
50%         11.000000
75%         15.000000
max        116.000000
Name: car_age, dtype: float64

There are new cars represented in both datasets, oldest car in test is much older then the oldest car in train, will be marked as raritet or even super raritet

In [322]:
# sort out:
num_columns.append("car_age")
num_columns

['model_date', 'model_age', 'prod_date', 'car_age']

In [323]:
# add new column "new_car" for cars with car_age=0:
data["new_car"] = np.where(data["car_age"]==0, "yes", "no")
# add new column "retro" for cars older then 30 years
data["retro"] = np.where(data["car_age"]>30, "yes", "no")
# and new column "raritet" for cars older then 50 years
data["raritet"] = np.where(data["car_age"]>50, "yes", "no")
data[data.car_age>30][["car_age", "retro", "raritet"]].sample(10)

       car_age retro raritet
4151        35   yes      no
66088       32   yes      no
6204        35   yes      no
52525       38   yes      no
34702       35   yes      no
66573       32   yes      no
68741       31   yes      no
21757       46   yes      no
6245        34   yes      no
39554       34   yes      no

In [324]:
# sort out:
bin_columns.append("new_car")
bin_columns.append("retro")
bin_columns.append("raritet")
bin_columns

['dataset_year', 'new_model', 'new_car', 'retro', 'raritet']

### 6. color

In [325]:
data.color.value_counts()

чёрный         21181
белый          14064
серый           8830
серебристый     7632
синий           6346
коричневый      3138
красный         3092
зелёный         1626
бежевый         1290
голубой          781
золотистый       490
пурпурный        482
фиолетовый       398
жёлтый           319
оранжевый        258
розовый           24
Name: color, dtype: int64

In [326]:
data.color = data.color.map(
                {"чёрный" : "black",
                "белый" : "white",
                "серый" : "grey",
                "серебристый" : "silver",
                "синий" : "blue",
                "красный" : "red",
                "коричневый" :"braun",
                "зелёный" : "green",
                "бежевый" : "beige",
                "голубой" : "light-blue",
                "золотистый" : "gold",
                "пурпурный" : "purple",
                "фиолетовый" : "violet",
                "жёлтый" : "yellow",
                "оранжевый" : "orange",
                "розовый" : "rose"})

data.color.value_counts()

black         21181
white         14064
grey           8830
silver         7632
blue           6346
braun          3138
red            3092
green          1626
beige          1290
light-blue      781
gold            490
purple          482
violet          398
yellow          319
orange          258
rose             24
Name: color, dtype: int64

In [327]:
# sort out:
cat_columns.append("color")
cat_columns

['brand', 'model_name', 'body_type', 'doors', 'color']

### 7. engine_V

In [328]:
data.engine_V.value_counts()

2.0 LTR    16022
1.6 LTR     9687
3.0 LTR     7501
1.8 LTR     5705
2.5 LTR     4708
2.4 LTR     3833
1.4 LTR     3506
3.5 LTR     3495
1.5 LTR     1957
1.2 LTR     1056
1.3 LTR      914
2.8 LTR      732
4.7 LTR      701
4.5 LTR      701
4.4 LTR      700
4.0 LTR      685
3.2 LTR      554
5.5 LTR      553
2.1 LTR      532
3.7 LTR      528
5.7 LTR      528
5.6 LTR      443
2.2 LTR      432
2.3 LTR      429
2.7 LTR      411
4.2 LTR      364
4.6 LTR      360
3.6 LTR      338
2.9 LTR      332
1.9 LTR      321
5.0 LTR      265
0.7 LTR      210
1.7 LTR      173
3.3 LTR      160
3.1 LTR      136
 LTR         127
4.8 LTR      110
1.0 LTR      105
3.8 LTR      101
4.3 LTR       84
2.6 LTR       80
6.0 LTR       76
3.4 LTR       69
4.1 LTR       54
5.4 LTR       45
6.2 LTR       40
5.2 LTR       23
5.9 LTR       15
6.3 LTR       13
6.6 LTR       13
1.1 LTR        9
5.8 LTR        9
4.9 LTR        4
3.9 LTR        1
5.3 LTR        1
Name: engine_V, dtype: int64

In [329]:
# remove "LTR"
data.engine_V = data.engine_V.apply(lambda x: str(x).replace(" LTR", ""))

In [330]:
# wonder what has happend with value "LTR":
data.engine_V.unique()

array(['1.4', '1.6', '1.2', '2.5', '1.8', '2.0', '1.3', '3.6', '2.8',
       '1.5', '1.9', '3.0', '3.1', '4.0', '2.7', '2.4', '4.2', '2.3',
       '5.0', '6.0', '3.2', '2.1', '', '2.6', '6.3', '5.2', '4.1', '2.9',
       '2.2', '5.9', '3.3', '3.7', '1.7', '3.5', '0.7', '4.4', '4.8',
       '6.6', '4.6', '5.4', '3.4', '5.6', '1.0', '3.8', '4.5', '5.5',
       '4.7', '6.2', '4.3', '5.8', '5.7', '1.1', '4.9', '3.9', '5.3'],
      dtype=object)

There is an empty value instead. Take a look:

In [331]:
data[data.engine_V==""]

          brand model_name           body_type  ...  new_car  retro  raritet
3708       AUDI      other        SUV 5 doors.  ...       no     no       no
3931       AUDI      other        SUV 5 doors.  ...       no     no       no
4075       AUDI      other        SUV 5 doors.  ...       no     no       no
4161       AUDI      other        SUV 5 doors.  ...       no     no       no
4203       AUDI      other               sedan  ...       no     no       no
...         ...        ...                 ...  ...      ...    ...      ...
67933    NISSAN       LEAF  hatchback 5 doors.  ...       no     no       no
67965    NISSAN       LEAF  hatchback 5 doors.  ...       no     no       no
68063    NISSAN       LEAF  hatchback 5 doors.  ...       no     no       no
69424  MERCEDES   B_KLASSE  hatchback 5 doors.  ...       no     no       no
69769    NISSAN       LEAF  hatchback 5 doors.  ...       no     no       no

[127 rows x 31 columns]

In [332]:
data.isnull().sum()

brand           0
model_name      0
body_type       0
doors           0
model_date      0
prod_date       0
color           0
engine_V        0
power           0
fuel            0
image           0
mileage         0
name            0
config          0
transmission    0
owners          0
pass            1
drive           0
wheel           0
state           0
custom          0
car_url         0
price           0
test_train      0
dataset_year    0
model_age       0
new_model       0
car_age         0
new_car         0
retro           0
raritet         0
dtype: int64

In [333]:
# sort out:
num_columns.append("engine_V")
num_columns

['model_date', 'model_age', 'prod_date', 'car_age', 'engine_V']

we received empty values for electrocars

In [334]:
### +++++++++++++ new column +++++++++++++++

In [335]:
# create marker column for electrocars:
data["electrocar"] = np.where(data["engine_V"]=="", "yes", "no")
data.electrocar.value_counts()

no     69824
yes      127
Name: electrocar, dtype: int64

In [336]:
# sort out:
bin_columns.append("electrocar")
bin_columns

['dataset_year', 'new_model', 'new_car', 'retro', 'raritet', 'electrocar']

### 8. power

In [337]:
data.power.value_counts()

150 N12    4104
249 N12    4060
110 N12    2557
170 N12    1898
140 N12    1845
           ...
537 N12       1
187 N12       1
480 N12       1
61 N12        1
301 N12       1
Name: power, Length: 334, dtype: int64

In [338]:
# remove "N12":
data.power = data.power.apply(lambda x: str(x).replace(" N12", "")).astype(int)
data.power.value_counts()

150    4104
249    4060
110    2557
170    1898
140    1845
       ...
236       1
301       1
430       1
324       1
44        1
Name: power, Length: 334, dtype: int64

In [339]:
# sort out
num_columns.append("power")
num_columns

['model_date', 'model_age', 'prod_date', 'car_age', 'engine_V', 'power']

In [340]:
# check for empty values:
data[data["power"]==""]

Empty DataFrame
Columns: [brand, model_name, body_type, doors, model_date, prod_date, color, engine_V, power, fuel, image, mileage, name, config, transmission, owners, pass, drive, wheel, state, custom, car_url, price, test_train, dataset_year, model_age, new_model, car_age, new_car, retro, raritet, electrocar]
Index: []

In [341]:
data.power.sample(7)

18252    190
35762    152
17876    171
15253    184
63238    144
15577    245
43865    100
Name: power, dtype: int64

looks OK now

### 9. fuel

In [342]:
data.fuel.value_counts()

бензин     57409
дизель     11415
гибрид       992
электро      127
газ            8
Name: fuel, dtype: int64

In [343]:
data.fuel = data.fuel.map(
            {
                "бензин" : "petrol",
                "дизель" : "diesel",
                "гибрид" : "hybrid",
                "электро" : "electro",
                "газ" : "gas"
            }
                    )

In [344]:
data.fuel.value_counts()

petrol     57409
diesel     11415
hybrid       992
electro      127
gas            8
Name: fuel, dtype: int64

Too many petrol cars, too little of gas autos.

### ++++++++++++ new column ++++++++++++

In [345]:
# Add column "petrol_car", as it's the most wanted
data["petrol_car"] = np.where(data.fuel=="petrol", "yes", "no")

In [346]:
# sort out
cat_columns.append("fuel")
bin_columns.append("petrol_car")
[cat_columns, bin_columns, num_columns]

[['brand', 'model_name', 'body_type', 'doors', 'color', 'fuel'],
 ['dataset_year',
  'new_model',
  'new_car',
  'retro',
  'raritet',
  'electrocar',
  'petrol_car'],
 ['model_date', 'model_age', 'prod_date', 'car_age', 'engine_V', 'power']]

### 10. image

In [347]:
data.image.sample(7)

62617    https://autoru.naydex.net/mcQh17801/f1b5751dCi...
53124    https://autoru.naydex.net/mcQh17801/f1b5751dCi...
60384    https://avatars.mds.yandex.net/get-autoru-vos/...
10729    https://avatars.mds.yandex.net/get-autoru-vos/...
41675    https://avatars.mds.yandex.net/get-autoru-vos/...
3641     https://autoru.naydex.net/w17S7KB96/f11010lkSc...
22124    https://avatars.mds.yandex.net/get-autoru-vos/...
Name: image, dtype: object

In [348]:
# let's find out if there are empty or not valid values:
data[data.image.str[:6]!="https:"]

Empty DataFrame
Columns: [brand, model_name, body_type, doors, model_date, prod_date, color, engine_V, power, fuel, image, mileage, name, config, transmission, owners, pass, drive, wheel, state, custom, car_url, price, test_train, dataset_year, model_age, new_model, car_age, new_car, retro, raritet, electrocar, petrol_car]
Index: []

In [349]:
data['image_len'] = data.image.astype(str).str.len()

In [350]:
data['image_len'].describe()

count    69951.000000
mean       156.511015
std         63.468004
min         94.000000
25%         94.000000
50%         95.000000
75%        221.000000
max        221.000000
Name: image_len, dtype: float64

In [351]:
data[data.image_len==94]["car_url"].sample()

2674    https://auto.ru/cars/used/sale/skoda/superb/11...
Name: car_url, dtype: object

Looks like all ads have images, the colummn does not contain helpful infornation for feature analysis, will be removed

### --------- remove column ---------

In [352]:
# remove column:
data.drop(["image"], axis=1, inplace=True)

### 11. mileage

In [353]:
data.mileage.head()

0    182 200 км
1    296 000 км
2    131 807 км
3    192 000 км
4    190 000 км
Name: mileage, dtype: object

In [354]:
data.mileage.sample(10)

10231    300 600 км
7648     334 614 км
33440    110 000 км
66830         53898
34812    115 000 км
25315    222 000 км
62259         17169
28456    235 144 км
25032    106 000 км
1784     178 000 км
Name: mileage, dtype: object

In [355]:
data.mileage[0]

'182\xa0200\xa0км'

data is not clean, remove spaces and letters:

In [356]:
data.mileage = data.mileage.apply(
    lambda x: str(x).replace("\xa0", "").replace("км", "")
    ).astype(int)

In [357]:
data.mileage.describe()

count      69951.000000
mean      153545.958843
std        98243.455772
min            1.000000
25%        82918.500000
50%       141000.000000
75%       205000.000000
max      1000000.000000
Name: mileage, dtype: float64

In [358]:
# sort out:
num_columns.append("mileage")
num_columns

['model_date',
 'model_age',
 'prod_date',
 'car_age',
 'engine_V',
 'power',
 'mileage']

### 12. name

In [359]:
data.name.sample(10)

1761                1.4 MT
35777    1.6 AT (110 л.с.)
34445              2.4 CVT
66130    1.9d MT (68 л.с.)
19617               3.7 AT
30808               1.6 AT
16038               1.8 AT
21470              2.0 CVT
6905                2.4 AT
30006              1.4 AMT
Name: name, dtype: object

In [360]:
len(data.name.value_counts())

2905

In [361]:
data[["engine_V", "transmission", "name", "power"]].sample(10)

      engine_V      transmission                            name  power
59363      2.0  роботизированная        Long 2.0d AMT (140 л.с.)    140
11212      2.5    автоматическая                          2.5 AT    210
2682       1.6      механическая                          1.6 MT    102
49666      1.5      механическая                1.5 MT (90 л.с.)     90
61238      2.0    автоматическая          2.0d AT (140 л.с.) 4WD    140
50736      2.1    автоматическая    250 d 2.1d AT (204 л.с.) 4WD    204
47483      1.6      механическая                1.6 MT (97 л.с.)     97
50807      3.0    автоматическая  400 Long 3.0 AT (333 л.с.) 4WD    333
49072      2.0      механическая           2.0 MT (141 л.с.) 4WD    141
51106      2.9    автоматическая    400 d 2.9d AT (340 л.с.) 4WD    340

Too many different values, column includes engine_V, transmission, power and drive. Can be deleted.

### --------- remove column ---------

In [362]:
data.drop(["name"], axis=1, inplace=True)

### 13. config

In [363]:
data.config.sample(10)

36989      WAGON_5_DOORS AUTOMATIC 1.8
44544    ALLROAD_5_DOORS AUTOMATIC 3.0
35606           LIFTBACK AUTOMATIC 1.6
60527              SEDAN AUTOMATIC 1.8
28241              SEDAN AUTOMATIC 2.5
20166    ALLROAD_5_DOORS AUTOMATIC 3.7
51135              SEDAN AUTOMATIC 3.0
14367              SEDAN AUTOMATIC 2.0
54682     ALLROAD_5_DOORS VARIATOR 1.2
39002              SEDAN AUTOMATIC 4.2
Name: config, dtype: object

contains other columns, will be removed

### --------- remove column ---------

In [364]:
data.drop(["config"], axis=1, inplace=True)

### 14. transmission

In [365]:
data.transmission.value_counts()

автоматическая      39203
механическая        13287
вариатор             9211
роботизированная     8250
Name: transmission, dtype: int64

In [366]:
# map values:
data.transmission = data.transmission.map(
            {"автоматическая" : "AT",
            "механическая" : "MT",
            "вариатор" : "CVT",
            "роботизированная" : "AMT"}
)

data.transmission.value_counts()

AT     39203
MT     13287
CVT     9211
AMT     8250
Name: transmission, dtype: int64

In [367]:
# sort out:
cat_columns.append("transmission")
cat_columns

['brand', 'model_name', 'body_type', 'doors', 'color', 'fuel', 'transmission']

### 15. owners

In [368]:
data.owners.value_counts()

3 или более    31221
1 владелец     21146
2 владельца    17584
Name: owners, dtype: int64

In [369]:
data.owners.value_counts().keys()[0],\
data.owners.value_counts().keys()[1],\
data.owners.value_counts().keys()[2]

('3 или более', '1\xa0владелец', '2\xa0владельца')

Column contains 3 values. As 1 owner is super good, add a flag to a car record: column "1_owner"

In [370]:
dict_owners = {"3 или более":3, "1\xa0владелец": 1, "2\xa0владельца":2}
data.owners = data.owners.map(dict_owners)
data.owners.value_counts()

3    31221
1    21146
2    17584
Name: owners, dtype: int64

In [371]:
data["1_owner"] = np.where(data.owners==1, "yes", "no")

In [372]:
# sort out:
cat_columns.append("owners")
bin_columns.append("1_owner")
[cat_columns, bin_columns]

[['brand',
  'model_name',
  'body_type',
  'doors',
  'color',
  'fuel',
  'transmission',
  'owners'],
 ['dataset_year',
  'new_model',
  'new_car',
  'retro',
  'raritet',
  'electrocar',
  'petrol_car',
  '1_owner']]

### 16. pass

In [373]:
data["pass"].value_counts()

Оригинал    60310
Дубликат     9640
Name: pass, dtype: int64

column contains 2 values, convert it into a flag: 1 for original passport

In [374]:
data["pass"] = data["pass"].map({"Оригинал":"Original", "Дубликат":"Duplicate"})
data["pass"].value_counts()

Original     60310
Duplicate     9640
Name: pass, dtype: int64

In [375]:
# sort out:
bin_columns.append("pass")
bin_columns

['dataset_year',
 'new_model',
 'new_car',
 'retro',
 'raritet',
 'electrocar',
 'petrol_car',
 '1_owner',
 'pass']

### 17. drive

In [376]:
data["drive"].value_counts()

полный      32569
передний    30711
задний       6671
Name: drive, dtype: int64

not much of rare drive cars... not suitable for winter...  process as category feature:

In [377]:
data["drive"] = data["drive"].map({"передний":"FWD", "полный":"4WD", "задний":"RWD"})
data["drive"].value_counts()

4WD    32569
FWD    30711
RWD     6671
Name: drive, dtype: int64

In [378]:
cat_columns.append("drive")
cat_columns

['brand',
 'model_name',
 'body_type',
 'doors',
 'color',
 'fuel',
 'transmission',
 'owners',
 'drive']

### 18. wheel

In [379]:
data.wheel.value_counts()

Левый     65907
Правый     4044
Name: wheel, dtype: int64

binary feature, left steeering wheel will map to 1:

In [380]:
data["wheel"] = data["wheel"].map({"Левый": "Left", "Правый":"Right"})
data["wheel"].value_counts()

Left     65907
Right     4044
Name: wheel, dtype: int64

In [381]:
bin_columns.append("wheel")
bin_columns

['dataset_year',
 'new_model',
 'new_car',
 'retro',
 'raritet',
 'electrocar',
 'petrol_car',
 '1_owner',
 'pass',
 'wheel']

### 19. state

In [382]:
data.state.value_counts()

Не требует ремонта    69947
Битый / не на ходу        4
Name: state, dtype: int64

binary feature, the second value is too rare, but really important, it can 10 times reduce the price

### ------------------ remove column -------------------

In [383]:
# negative value for this column will significantly reduce price,
# but it is too rare be counted:
data.drop("state", axis=1, inplace=True)

### 20. custom

In [384]:
data.custom.value_counts()

Растаможен       69950
Не растаможен        1
Name: custom, dtype: int64

### ------------------ remove column -------------------

In [385]:
# negative value for this column will significantly reduce price,
# but it is too rare be counted:
data.drop("custom", axis=1, inplace=True)

### 21. car_url

not neede for analysis, delete:

In [386]:
data.drop("car_url", axis=1, inplace=True)

### 22. price

In [387]:
data.price.sample(10)

49740              0
39827              0
55748              0
58194              0
17379      240 000 ₽
17933    1 084 000 ₽
69416              0
64713              0
36383              0
21057      370 000 ₽
Name: price, dtype: object

contains 0-values, hopefully all from test dataset, let's take a look:

In [388]:
len(data[(data.price==0 )& (data.test_train=="train")]), len(df_test)

(0, 34686)

Train dataset doesn't contain 0 as a target value - OK

In [389]:
# take a deeper look at values:
data.price[0], data.price[1], data.price[3]

('370\xa0000\xa0₽', '155\xa0000\xa0₽', '470\xa0000\xa0₽')

Ooooopsss! Needs to be corrected

In [390]:
data.price = data.price.astype(str)
data.price = data["price"].apply(lambda x: x.replace("\xa0", "").replace("₽", ""))   
data.price = data.price.astype(int)
data.price.sample(10)

29917    1130000
35801          0
49242          0
23552    1478000
65936          0
57119          0
2930      538000
51329          0
7088      369000
4874     2397000
Name: price, dtype: int64

In [391]:
data[data.price==0].test_train.value_counts()

test    34686
Name: test_train, dtype: int64

Price column looks OK now

### !!! For this column, will try to apply scaling, to take inflation into account

validate column lists:

In [392]:
all_columns = list(data.columns)
num_columns = list(set(num_columns))
cat_columns = list(set(cat_columns))
bin_columns = list(set(bin_columns))

In [393]:
print("num_columns:", num_columns)
print("cat_columns:", cat_columns)
print("bin_columns:", bin_columns)

num_columns: ['car_age', 'power', 'engine_V', 'model_date', 'model_age', 'mileage', 'prod_date']
cat_columns: ['body_type', 'fuel', 'model_name', 'brand', 'drive', 'doors', 'color', 'owners', 'transmission']
bin_columns: ['new_car', 'new_model', 'dataset_year', 'pass', 'retro', '1_owner', 'wheel', 'electrocar', 'raritet', 'petrol_car']

In [394]:
(set(num_columns) | set(cat_columns) | set(bin_columns)) - set(all_columns)

set()

In [395]:
set(all_columns) - (set(num_columns) | set(cat_columns) | set(bin_columns))

{'image_len', 'price', 'test_train'}

In [396]:
# we need price and test_train, remove image_len:
data.drop("image_len", axis=1, inplace=True)
# Columns "custom" and "state" "Not OK" values will significantly 
# reduce the price But, as not_OK values are too rare, columns will be removed

## SAVE DATA TO FILES:

In [397]:
# make sure data is OK to be saved:
data.head(7)#sample(7).T

   brand                         model_name  ... petrol_car  1_owner
0  SKODA                     Skoda Fabia II  ...        yes       no
1  SKODA                      Skoda Fabia I  ...        yes       no
2  SKODA  Skoda Octavia III (A7) Рестайлинг  ...        yes      yes
3  SKODA                              other  ...        yes       no
4  SKODA          Skoda Fabia II Рестайлинг  ...        yes       no
5  SKODA    Skoda Octavia I (A4) Рестайлинг  ...        yes       no
6  SKODA                              other  ...         no       no

[7 rows x 28 columns]

In [398]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69951 entries, 0 to 69950
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         69951 non-null  object
 1   model_name    69951 non-null  object
 2   body_type     69951 non-null  object
 3   doors         69951 non-null  int64
 4   model_date    69951 non-null  int64
 5   prod_date     69951 non-null  int64
 6   color         69951 non-null  object
 7   engine_V      69951 non-null  object
 8   power         69951 non-null  int64
 9   fuel          69951 non-null  object
 10  mileage       69951 non-null  int64
 11  transmission  69951 non-null  object
 12  owners        69951 non-null  int64
 13  pass          69950 non-null  object
 14  drive         69951 non-null  object
 15  wheel         69951 non-null  object
 16  price         69951 non-null  int64
 17  test_train    69951 non-null  object
 18  dataset_year  69951 non-null  int64
 19  model_age     69951 non-null  int64
 20  new_model     69951 non-null  object
 21  car_age       69951 non-null  int64
 22  new_car       69951 non-null  object
 23  retro         69951 non-null  object
 24  raritet       69951 non-null  object
 25  electrocar    69951 non-null  object
 26  petrol_car    69951 non-null  object
 27  1_owner       69951 non-null  object
dtypes: int64(10), object(18)
memory usage: 14.9+ MB

In [399]:
data.to_csv(path + "PROCESSED/data.csv", index=False)

In [400]:
df_num_columns = pd.DataFrame(num_columns)
df_cat_columns = pd.DataFrame(cat_columns)
df_bin_columns = pd.DataFrame(bin_columns)


df_num_columns.to_csv(path + "PROCESSED/num_columns.csv", mode='w', header=False, index=False)
df_cat_columns.to_csv(path + "PROCESSED/cat_columns.csv", mode='w', header=False, index=False)
df_bin_columns.to_csv(path + "PROCESSED/bin_columns.csv", mode='w', header=False, index=False)

In [401]:
# quick check:
data = pd.read_csv(path + "PROCESSED/data.csv")
data.head(7)#.T

   brand                         model_name  ... petrol_car  1_owner
0  SKODA                     Skoda Fabia II  ...        yes       no
1  SKODA                      Skoda Fabia I  ...        yes       no
2  SKODA  Skoda Octavia III (A7) Рестайлинг  ...        yes      yes
3  SKODA                              other  ...        yes       no
4  SKODA          Skoda Fabia II Рестайлинг  ...        yes       no
5  SKODA    Skoda Octavia I (A4) Рестайлинг  ...        yes       no
6  SKODA                              other  ...         no       no

[7 rows x 28 columns]

In [402]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69951 entries, 0 to 69950
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         69951 non-null  object
 1   model_name    69951 non-null  object
 2   body_type     69951 non-null  object
 3   doors         69951 non-null  int64
 4   model_date    69951 non-null  int64
 5   prod_date     69951 non-null  int64
 6   color         69951 non-null  object
 7   engine_V      69824 non-null  float64
 8   power         69951 non-null  int64
 9   fuel          69951 non-null  object
 10  mileage       69951 non-null  int64
 11  transmission  69951 non-null  object
 12  owners        69951 non-null  int64
 13  pass          69950 non-null  object
 14  drive         69951 non-null  object
 15  wheel         69951 non-null  object
 16  price         69951 non-null  int64
 17  test_train    69951 non-null  object
 18  dataset_year  69951 non-null  int64
 19  model_age     69951 non-null  int64
 20  new_model     69951 non-null  object
 21  car_age       69951 non-null  int64
 22  new_car       69951 non-null  object
 23  retro         69951 non-null  object
 24  raritet       69951 non-null  object
 25  electrocar    69951 non-null  object
 26  petrol_car    69951 non-null  object
 27  1_owner       69951 non-null  object
dtypes: float64(1), int64(10), object(17)
memory usage: 14.9+ MB

Looks OK for future processing

### Please continue with 3. EDA

In [403]:
print("done")

done