In [1]:
import pandas as pd
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1788,tt0435528,12000000,5285197,Whisper,Blake Woodruff|Josh Holloway|Sarah Wayne Calli...,Stewart Hendler,Sinister things begin happening to kidnappers ...,Convicted felon Max Truemont (played by Josh H...,94,Crime|Drama|Horror|Thriller,Universal Pictures|Canadian Film or Video Prod...,11/27/2007,5.7,2007
197,tt2369135,66000000,203277636,Need for Speed,Aaron Paul|Dominic Cooper|Imogen Poots|Rami Ma...,Scott Waugh,For honor. For love. For redemption.,The film revolves around a local street-racer ...,130,Action|Crime|Drama|Thriller,DreamWorks SKG|Reliance Entertainment|Bandito ...,3/13/2014,6.2,2014
1160,tt0289992,50000000,38955598,The Life of David Gale,Kevin Spacey|Kate Winslet|Laura Linney|Gabriel...,Alan Parker,The crime is clear. The truth is not.,A man against capital punishment is accused of...,130,Drama|Thriller|Crime,Universal Pictures|Intermedia Films|Saturn Films,2/21/2003,7.2,2003
1874,tt0202402,15000000,9902115,Whatever It Takes,Jodi Lyn O'Keefe|Shane West|Marla Sokoloff|Jam...,David Raynr,How low will they go to get the girls of their...,"A nerdy teen, Ryan Woodman is smitten with the...",94,Drama|Comedy|Romance,Columbia Pictures Corporation,3/31/2000,5.0,2000
641,tt0988595,30000000,160259319,27 Dresses,Katherine Heigl|James Marsden|Malin Ã…kerman|J...,Anne Fletcher,She's about to find the perfect fit.,Altruistic Jane finds herself facing her worst...,111,Comedy|Romance,Spyglass Entertainment|Fox 2000 Pictures|Dune ...,1/10/2008,6.1,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [73]:
answers = {}  # dictionary to store answeres


# append new columns:
# profit:
data["profit"] = data["revenue"] - data["budget"]

# month from date of release:
data["month"] = pd.DatetimeIndex(data["release_date"]).month_name()

# number ofchars in title
data["title_length"] = data["original_title"].apply(lambda x: len(x))

# number of words in overview:
data["wordnumber"] = data["overview"].apply(lambda x: len(x.split(" ")))

# these two columns needed for task 27
data["cast_list"] = data["cast"].apply(lambda x: x.split("|"))
data["cast_comb"] = data["cast_list"].apply(lambda x: list(combinations(x, 2)))


def explode_by_column(df, column, sep_string="|"):
    # explode dataframe df by column column with separator sep_string
    # return new (exploded) dataframe
    df_copy = df.copy()
    df_copy[column] = df_copy[column].str.split(sep_string)
    df_result = df_copy.explode(column)
    return df_result

# 1. У какого фильма из списка самый большой бюджет?

In [74]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
data[data["budget"] == data["budget"].max()][["original_title", "imdb_id"]]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [7]:
data.query("budget == budget.max()")

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length,wordnumber,cast_list,cast_comb
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,May,43,75,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[(Johnny Depp, PenÃ©lope Cruz), (Johnny Depp, ..."

# 2. Какой из фильмов самый длительный (в минутах)?

In [75]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data.query("runtime == runtime.max()")[
                                    ["original_title", "imdb_id", "runtime"]
                                      ]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [76]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
data.query("runtime == runtime.min()")[
                                ["imdb_id", "original_title", "runtime"]
                                        ]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [77]:
answers['4'] = '110'

In [13]:
round(data["runtime"].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [78]:
answers['5'] = '107'

In [15]:
data["runtime"].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [79]:
answers['6'] = '5. Avatar (tt0499549)'

In [17]:
data[data["profit"] == data["profit"].max()][
                                ["imdb_id", "original_title", "profit"]
                                            ]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [80]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [19]:
data.query('profit == profit.min()')[["imdb_id", "original_title", "profit"]]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [81]:
answers['8'] = '1478'

In [21]:
len(data.profit[lambda x: x>0])

1478

ВАРИАНТ 2

In [22]:
data.query('profit > 0').info()
# the answer is displayed in Non-Null Count column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
 15  month                 1478 non-null   object
 16  title_length          1478 non-null   int64
 17  wordnumber            1478 non-null   int64
 18  cast_list             1478 non-null   object
 19  cast_comb             1478 non-null   object
dtypes: float64(1), int64(7), object(12)
memory usage: 242.5+ KB

ВАРИАНТ 3

In [23]:
data.query('profit > 0')["imdb_id"].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [82]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [25]:
mostprofit2008 = data.groupby("release_year")["revenue"].max()[2008]
data[data["revenue"] == mostprofit2008]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length,wordnumber,cast_list,cast_comb
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,July,15,67,"[Christian Bale, Michael Caine, Heath Ledger, ...","[(Christian Bale, Michael Caine), (Christian B..."

ВАРИАНТ 2

In [26]:
data[data.revenue == data[data["release_year"] == 2008]["revenue"].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length,wordnumber,cast_list,cast_comb
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,July,15,67,"[Christian Bale, Michael Caine, Heath Ledger, ...","[(Christian Bale, Michael Caine), (Christian B..."

ВАРИАНТ 3

In [27]:
data2008 = data.query('release_year == 2008')
data2008[data2008.revenue == data2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length,wordnumber,cast_list,cast_comb
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,July,15,67,"[Christian Bale, Michael Caine, Heath Ledger, ...","[(Christian Bale, Michael Caine), (Christian B..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [83]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [29]:
data2012_2014 = data.query('2012 <= release_year <= 2014')
data2012_2014[data2012_2014.profit == data2012_2014["profit"].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_length,wordnumber,cast_list,cast_comb
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,July,15,68,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi..."

# 11. Какого жанра фильмов больше всего?

In [84]:
answers['11'] = '3. Drama'

In [31]:
df_genres = explode_by_column(data, "genres", "|")
df_genres["genres"].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [32]:
c = Counter(df_genres["genres"])
c.most_common(5)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [85]:
answers['12'] = '1. Drama'

In [34]:
df_genres[df_genres["profit"] > 0]["genres"].value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [86]:
answers['13'] = '5. Peter Jackson'

In [36]:
data.groupby("director")["revenue"].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [87]:
answers['14'] = '3. Robert Rodriguez'

In [38]:
df_directors = explode_by_column(df_genres, "director")
df_directors[df_directors["genres"] == "Action"]["director"].value_counts()

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Antoine Fuqua          6
Ridley Scott           6
                      ..
Spike Lee              1
Tom Dey                1
Jan de Bont            1
Michael Davis          1
Demian Lichtenstein    1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [88]:
answers['15'] = '3. Chris Hemsworth'

In [40]:
df_cast = explode_by_column(data, "cast")
df_cast[
    df_cast.release_year == 2012
        ].groupby("cast")["revenue"].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [89]:
answers['16'] = '3. Matt Damon'

In [42]:
df_cast[df_cast.budget > df_cast.budget.mean()]["cast"].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Sarah Silverman       1
MaÃ¯ Anh Le           1
Om Puri               1
Rachael Harris        1
Olivia Williams       1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
answers['17'] = '2. Action'

In [44]:
df_genres.query(
    'cast.str.contains("Nicolas Cage")', engine='python'
                )["genres"].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [91]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [46]:
df_companies = explode_by_column(data, "production_companies")
df_companies[
    (df_companies["production_companies"] == "Paramount Pictures")
            ][["imdb_id", "original_title", "profit"]].sort_values(by="profit")

        imdb_id                                     original_title     profit
925   tt0267626                               K-19: The Widowmaker  -64831034
1123  tt0300556                                           Timeline  -60519261
1722  tt0435705                                               Next  -51788987
1623  tt0375173                                              Alfie  -46604061
1631  tt0315297                                            Twisted  -24805000
...         ...                                                ...        ...
730   tt1229238               Mission: Impossible - Ghost Protocol  549713380
1738  tt0418279                                       Transformers  559709780
603   tt0367882  Indiana Jones and the Kingdom of the Crystal S...  601636033
317   tt1055369                Transformers: Revenge of the Fallen  686297228
828   tt1399103                     Transformers: Dark of the Moon  928746996

[122 rows x 3 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [92]:
answers['19'] = '5. 2015'

In [48]:
data.groupby("release_year")[
    "revenue"
    ].sum().reset_index().sort_values(by="revenue", ascending=False)

    release_year      revenue
15          2015  25449202382
14          2014  23405862953
13          2013  23213799791
12          2012  23079001687
11          2011  22676791872
10          2010  21071204961
9           2009  20261791024
8           2008  18252781990
7           2007  18162406801
4           2004  15663430720
5           2005  15309425558
6           2006  14775042320
3           2003  14346123312
2           2002  14136361487
1           2001  13017764865
0           2000  10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [93]:
answers['20'] = '1. 2014'

In [50]:
df_companies[
    df_companies.production_companies.str.contains("Warner Bros.")
    ].groupby("release_year")[
                "profit"
                ].sum().reset_index().sort_values(by="profit", ascending=False)

    release_year      profit
14          2014  2292949646
7           2007  2201675217
8           2008  2134595031
10          2010  1974712985
11          2011  1871393682
3           2003  1844008221
9           2009  1822454136
13          2013  1636453400
4           2004  1631933725
5           2005  1551980298
1           2001  1282142579
12          2012  1258020056
2           2002  1022709901
15          2015   870368348
6           2006   625351872
0           2000   452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [94]:
answers['21'] = '1. Сентябрь'

In [52]:
data["month"].value_counts()

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [95]:
answers['22'] = '2. 450'

In [54]:
df_months = data["month"].value_counts().reset_index()
df_months # здесь вывод промежуточного результата для лучшей визуализации:

        index  month
0   September    227
1    December    190
2     October    186
3      August    161
4       March    156
5       April    149
6        June    147
7    November    146
8        July    142
9         May    140
10   February    135
11    January    110

In [76]:
df_months.columns = ["month", "total_movies"]
df_months[
    df_months.month.isin(["June", "July", "August"])
         ]["total_movies"].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [96]:
answers['23'] = '5. Peter Jackson'

In [56]:
df_directors[
    df_directors.month.isin(["January", "February", "December"])
            ]["director"].value_counts()

Peter Jackson        18
Steven Soderbergh    14
Clint Eastwood       13
Rob Marshall         11
Edward Zwick         11
                     ..
Richard Loncraine     1
Kevin Allen           1
Gus Van Sant          1
Will Graham           1
Rodrigo GarcÃ­a       1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [97]:
answers['24'] = '5. Four By Two Productions'

In [58]:
df_companies = explode_by_column(data, "production_companies")
df_companies.groupby(
    ["production_companies"]
    )["title_length"].median().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Global Entertainment Group     2.0
Ixtlan Productions             2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [98]:
answers['25'] = '3. Midnight Picture Show'

In [60]:
df_companies.groupby(
    ["production_companies"]
    )["wordnumber"].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: wordnumber, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [99]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [62]:
data[["imdb_id", "original_title", "vote_average"]].sort_values(
    by="vote_average").tail(round(data.index.max() / 100))

        imdb_id                                 original_title  vote_average
1563  tt0338013          Eternal Sunshine of the Spotless Mind           7.8
155   tt2980516                       The Theory of Everything           7.8
863   tt0167261          The Lord of the Rings: The Two Towers           7.8
1688  tt0469494                            There Will Be Blood           7.8
283   tt0485947                                     Mr. Nobody           7.8
1191  tt2024544                               12 Years a Slave           7.9
872   tt0253474                                    The Pianist           7.9
128   tt2267998                                      Gone Girl           7.9
1800  tt0209144                                        Memento           7.9
119   tt2015381                        Guardians of the Galaxy           7.9
370   tt1375666                                      Inception           7.9
1183  tt0993846                        The Wolf of Wall Street           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
34    tt3170832                                           Room           8.0
118   tt0816692                                   Interstellar           8.0
9     tt2096673                                     Inside Out           8.0
125   tt2084970                             The Imitation Game           8.0
599   tt0468569                                The Dark Knight           8.1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [100]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [64]:
df_castcombi = data.explode("cast_comb")
df_castcombi["cast_comb"].value_counts()

(Daniel Radcliffe, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)             8
(Rupert Grint, Emma Watson)                 7
(Johnny Depp, Helena Bonham Carter)         6
(Ben Stiller, Owen Wilson)                  6
                                           ..
(Alicia Vikander, Oscar Isaac)              1
(Morgan Freeman, Tony Kgoroge)              1
(Ioan Gruffudd, Dakota Blue Richards)       1
(Heath Ledger, Randy Quaid)                 1
(Thomas Ian Nicholas, Eddie Kaye Thomas)    1
Name: cast_comb, Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [101]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '1. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [102]:
# и убедиться что ни чего не пропустил)
len(answers)

27